[2017-10-03 01:41] jonathanKingston opened #1 "Handle containers changing"
Relying on container name is a little fragile and will require you to monitor for these changes in case people change their containers.

Personally I would be storing cookieStoreId in the format and allow the user to change the name which you can update whenever they click the browser action.

We now support in 57 onRemoved, onCreated and onUpdated to check for when containers are removed you like

[2017-10-03 09:09] kintesh commented on #1
@jonathanKingston Thanks for your suggestion. My original plan was to use cookie store id but I opted for a simple option to start with as I wanted to learn more about writing web extensions in general. I'll be making switching to cookie store id with new UI to make it easier to add new entries. Also context menu is something I am thinking of too.

[2017-10-03 12:44] jonathanKingston commented on #1
Cool let me know if you have questions, I know we got a lot of users asking for this as a feature so it's great you have started in this direction.

[2017-10-03 21:06] grahamperrin opened #2 "non-containment (prevention, for some addresses or types of address)"
Might this become an option?

Please compare with:

- ["Open always in no container" setting · Issue #503 · mozilla/multi-account-containers](https://github.com/mozilla/multi-account-containers/issues/503)

– with (from me):

[2017-10-03 21:18] kintesh commented on #2
For the next itteration I am planning to have better ui with dropdown options to pick container. I guees `No container` could be an option to pick. I also want to an option to export/import json based configuration.

[2017-10-03 21:23] kintesh commented on #2
Alternatively, you could have scrict container mapping where vising a site (not mapped to any container) from a container should open that site without any container.

[2017-10-04 04:32] grahamperrin commented on #2
I like that idea. If implemented, it should probably be a user preference.

Planning for possible futures: consider Mozilla bug [1323873 - Allow tabs to change user contexts when navigating](https://bugzilla.mozilla.org/show_bug.cgi?id=1323873) in the context of:

1. some users' wishes to view no more than one container at a time; and
2. (a flip-side) some users' wishes to **view nothing contained

[2017-10-05 23:00] testsubject33 commented on #2
Hi, I think having a no container option to choose would be great

[2017-10-06 20:30] draggehn opened #3 "[feature request] Allow Wildcarding"
Example use case: send all Google domains to a specified container (play.google.com, inbox.google.com, mail.google.com, etc) by inputting "*.google.com , Google"

Is this possible with the current state of containers?

[2017-10-07 21:48] kintesh commented on #3
In next release.

[2017-10-08 20:30] kintesh commented on #3
Looks bit complicated, I'll look at it later.

[2017-10-11 09:16] klint opened #4 "Request: allow containerising at deeper level than hostname"
It would be useful to be able to assign a container at a deeper level than hostname.
For instance, at parameters level, with Google Group as a use case.
I would like to open the 2 following groups (who belong to 2 different google accounts) in 2 different containers automatically:
https://groups.google.com/forum/?fromgroups#!managemembers/**_groupename1_**/members/active
https://groups.google.com/

[2017-10-29 13:07] eberhardweber commented on #4
I actually expected this add-on to do exactly that! I would be especially interested in subdomain and subfolder support, i.e., for example: np.reddit.com and reddit.com/r/subreddit/.

[2017-11-01 16:09] ethhics commented on #4
This is fixed by #5, though this version is not on the add-on site yet.

[2017-11-01 16:46] kintesh commented on #4
I was making few changes yesterday. Will publish it later today.

[2017-11-01 20:39] kintesh commented on #2
Feature added and released in v2.0.0

[2017-11-01 20:39] #2 closed

[2017-11-01 20:40] kintesh commented on #3
Feature added and released in v2.1.0

[2017-11-01 20:40] #3 closed

[2017-11-01 20:42] kintesh commented on #1
Feature added and released in v2.0.0

[2017-11-01 20:42] #1 closed

[2017-11-03 13:39] klint opened #6 "Addon does not work anymore..."
Strange!
The addon has stopped working for me (I even tried going back to 2.0).
Still using last FF57 beta, but in the meantime I have added a lot of other addons. Could there be a conflict?
Nothing shows up in the error console.
Thanks

[2017-11-03 17:07] kintesh commented on #6
I've just tested it in FF57 and it works find for me. So it looks like it could be one of your other addon.

[2017-11-04 18:45] klint commented on #6
I have deactivated all addons but Containerise and the Multi Accounts one in Firefox 57 Beta 14
My Containerise setting contains the following:
https://groups.google.com/forum/#!forum/ahqg_info , AHQG
http://ahqg.free.fr/ahqgv2/html/accueil.php , Personnel
But it still does not work for any of the 2 above URLs.
Is the syntax wrong?
Thanks

[2017-11-04 18:51] kintesh commented on #6
@klint it only works with domain and not full urls.

[2017-11-04 20:23] klint commented on #6
Stupid me! Sorry for taking your time for that. It works fine now... as before, as always ;)

[2017-11-05 01:27] klint commented on #4
has the subfolder part been implemented already? If so, how would I associate different containers to the examples URLs below?
https://groups.google.com/forum/?fromgroups#!managemembers/**_groupename1_**/members/active
https://groups.google.com/forum/?fromgroups#!managemembers/**_groupename2_**/members/active
Thanks :)

[2017-11-17 14:11] #6 closed

[2017-11-17 14:16] klint opened #7 "Do not erase entries with unexisting container names."
I have run into the following issue several times:
- I had set up a lot of rules in Containerise
- I played around with all my addons for various reasons, deactivating and reactivating them: this had the effect of resetting all containers to the 4 default ones.
- next, when I opened Containerise again, only the rules linked to the default containers were still there. And I had to type everything a

[2017-11-17 16:41] sojusnik opened #8 "Doesn't work with WhatsApp Web"
There seems to be an issue with `web.whatsapp.com`.

Could you have a look on that?

Observed under v2.1.0 on FF 57.

[2017-11-19 00:43] shvchk opened #9 "Support internationalized domain names"
Now [internationalized domain names](https://en.wikipedia.org/wiki/Internationalized_domain_name) like `тест.рф` are ignored and have to be converted to [punycode](https://en.wikipedia.org/wiki/Punycode) (`тест.рф` → `xn--e1aybc.xn--p1ai`) to work. As punycode is not human-readable, it is very easy to make a mistake adding or changing such domains. Would be nice to be able to add and list domains

[2017-11-19 00:51] shvchk opened #10 "Default container for opened external links"
External links are now opened in the same container you were in when clicking on the link, so for example if you have Google container, sites opened from search results page end up in Google container too. Would be nice to have an option to set default container (like `No container` or `Untrusted` or random new container (like with [Click To Contain](https://addons.mozilla.org/en-US/firefox/addon/

[2017-11-20 20:03] kintesh commented on #7
This should not happen. I'll look into it.

[2017-11-20 20:05] kintesh commented on #8
Strange, it works for me. can you please retry it using `*.whatsapp.com`?

[2017-11-20 20:11] kintesh commented on #10
Well the idea behind this extention was to open certain sites in a container and not to have certain site locked down in a container. You are free to create a PR and contiribute :)

[2017-11-20 20:13] kintesh commented on #10
FYI: for google specifically I have these rules
[code]

[2017-11-20 20:15] kintesh commented on #7
Also for future refrence, there is an arrow button next to Save button. The arrow button opens a CSV mapping of your urls. You can backup/restore using the textarea.

[2017-11-28 05:54] slyall opened #11 "Double Open"
I am opening some links in new tabs and find that it will open a container tab and then open another copy.

From playing around I think it is because I have the site setup in "Multi account containers" and "containerise". So when I go to that site I will get a tab from both.

All good when I take this out, maybe worth a mention in the docs?

[2017-11-28 23:17] practik opened #12 "Containerise ignores browser.tabs.loadDivertedInBackground"
### STR:

- In about:preferences, make sure you have at least two containers set up (I'll call them A and B).
- In about:config, set browser.link.open_newwindow.restriction to 0 and browser.tabs.loadDivertedInBackground to true.
- From the Containerise menu, add `github.com` to the list for Container A and `kinte.sh` to the list for Container B.
- From `https://github.com/kintesh`, middle-click (o

[2017-12-11 12:20] gobenizzle opened #13 "trigger container switch by domainchange"
first of all, thank you so much for the great work.
I'm using the plugin to containerize facebook, additional to content blocking, so that it can not as easily follow me around.

Would it be possible to trigger container switches when switching domain (i.e. clicking on a link) so that the facebok cookie alwas remains isolated?

[2017-12-19 21:43] sojusnik commented on #8
Yes, very strange, because `web.whatsapp.com` works now :)

[2017-12-19 21:43] #8 closed

[2018-01-26 15:33] parkerault opened #14 "Feature request: don't replace the existing tab when changing containers"
When a navigation event triggers a container change, the current tab is replaced with a new one and `window.history` is lost. This is kind of frustrating when I'm opening links from a search results page and I can't go back. Is it possible to always open a new tab if the new location is assigned to a different container?

[2018-01-28 07:31] stoically commented on #14
Changing the container of a existing tab is [not yet](https://github.com/mozilla/multi-account-containers/issues/1029) possible. A possible workaround might be to open a completely new tab and leave the old one open when a requests triggers a container change (multi-account containers does that too).

[2018-01-28 21:02] parkerault commented on #14
I didn't phrase it clearly, but that's what I was trying to say in the last sentence of my previous post. I definitely think keeping the old tab open vastly better UX.

[2018-02-05 12:36] klint opened #15 "Allow automatic backup of Containerise configuration list in text mode"
Hi, here is a feature request.
Could there be a way to backup the containerise configuration in a text file each time it is updated, with a time stamp in the filename?
I'm asking this as I have tons of rules in Containerise, and it has already happened more than once that the config was lost or erased (sometimes because a context itself would just be removed by accident... then all rules linked to

[2018-02-18 21:11] chatainsim opened #16 "Allow creation of personnal containers"
Hello,
Can you add the ability to create personnal containers ?

Thanks

[2018-02-25 04:00] stoically opened #17 "API to check whether an URL is assigned"
Hi,

@shvchk asked if it would be possible to support your Add-on in combination with mine here: https://github.com/stoically/firefox-add-on-temporary-containers/issues/15

For that to work properly I'd need an API to ask your Add-on whether a specific URL is assigned. Here's how Multi-Account Containers is doing it: https://github.com/mozilla/multi-account-containers/issues/1130#issuecomment-3680

[2018-02-25 15:41] kintesh commented on #17
I am heppy for you to create a PR.

[2018-03-09 02:58] stoically commented on #17
Before I start working on this it would be good to know in what way you would want to see it implemented. It would require adding [`runtime.onMessageExternal`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/runtime/onMessageExternal) - now the question is, who should be able to get an answer? The options I see are:

* Adding the `management` permission and checking for `contextualId

[2018-03-10 14:46] kintesh commented on #17
I think it best to lock it down to specific id and manually maintaining it. The way I see it is that this extentions won't change much from what it is now.

[2018-03-10 14:47] kintesh commented on #16
Possibly. But I would rather just create containers from firefox setting page.

[2018-03-10 15:06] shvchk commented on #17
Just wanted to thank @stoically and @kintesh for working on this and container stuff in general. You guys are awesome! :metal:

[2018-03-11 22:01] chatainsim commented on #16
Thanks. I didn't know that I'm able to create new containers under Firefox setting.
Just found out where is the option, Thank you.

[2018-03-17 20:40] gliptak commented on #10
https://github.com/mozilla/multi-account-containers/issues/914

[2018-03-25 14:42] #17 closed

[2018-03-29 06:21] malore opened #21 "[Feature request] Support regex"
It would allow much more flexibility.

[2018-03-29 15:25] innir commented on #17
@kintesh Would you mind releasing a new version? Currently I can't use containerise because of this.
BTW: Thanks for your extension, it is really the last missing piece to get a smooth container experience.

[2018-03-30 14:26] rosslh opened #22 "Release latest stable version of Containerise to AMO"
Hey @kintesh, could the latest changes (bc4e10172cdb6c40e9b5dc3f5f22d48a5970c383) please be released to addons.mozilla.org?

[2018-03-31 16:56] ethhics commented on #21
Unless I'm missing something, there aren't any use cases for full fledged regex implementation. Could you provide some examples of when and how it would be used?

[2018-03-31 18:24] malore commented on #21
Effectively, it would be sufficient for me to support wildcards for TLDs(e.g. google.*), but supporting regex - and full URLs - will allow to open all searches with a specific item in a specific container (e.g. google\.com/\.*q=news, News).

[2018-04-03 13:00] sutex opened #23 "Cyberfox 52.7.2 (64-bit)"
Cyberfox 52.7.2 (64-bit) no icons showing and nothing can be saved.
https://i.imgur.com/ccajHYR.png
the grey bar you can see just keeps sliding along.

Please keep 'us' alternative users in mind , I can use my unsigned plugins in Cyberfox

[2018-04-04 20:55] olliebean opened #24 "Allow multiple containers for multiple logins"
For example, I might have a work and a home Gmail account. As things are now, I can assign mail.google.com to the Work container, for example, but then I can't open it in the Personal container, as Containerise takes over and forces it into the Work container.  What I'd like to be able to do is still have Work as default, but Personal as an "also allowed" option - so if I opened Gmail in the Perso

[2018-04-05 21:54] olliebean opened #25 "Won't open mobile.twitter.com in container."
The rule is "*.twitter.com , Twitter". It doesn't open mobile.twitter.com in the Twitter container. Even explicitly adding "mobile.twitter.com , Twitter" as a rule doesn't work. Other mobile sites, e.g. mobile.facebook.com, seem to work fine.

[2018-04-06 19:46] kintesh commented on #25
Works for me fine. Make sure you have "Twitter" container before adding the rule and that you are not using anyother addon that uses containers api.

[2018-04-06 19:51] kintesh commented on #23
Hi, I cannot test it myself as I devlope on Mac OS X and haven't got around setting up Linux enviroment. Feel free to create a PR if you manage to fix this before I do. Thanks!.

[2018-04-06 19:51] kintesh commented on #22
@rosslh Juts did. Thanks for the PR!

[2018-04-06 20:08] olliebean commented on #25
The Twitter container was created before adding the rule. Incidentally, "twitter.com" opens in the Twitter container as expected - it's only "mobile.twitter.com" that doesn't.

The only other container-using addon I'm using is Context Plus, but the issue persists when I disable that addon.

[2018-04-06 20:11] olliebean commented on #25
The Twitter container was created before adding the rule. Incidentally, "twitter.com" opens in the Twitter container as expected - it's only "mobile.twitter.com" that doesn't.

The only other container-using addon I'm using is Context Plus, but the issue persists when I disable that addon.

I also tried deleting the rule and the container, then re-adding the container and the rule in that order, b

[2018-04-07 05:33] Zorroblanco opened #26 "Open in background"
Hi,  great addon!, but please add option to open containers in background, it s a problem than always open in forward. Firefox 59.0.2 32 bit,  browser.tabs.loadDivertedInBackground: true win 7 x86. (for example with extension "Temporary Containers by stoically", no problem with open in background) Sorry for my english I hope you can understand.
Cheers

[2018-04-12 19:37] olliebean commented on #26
This is the one thing that's preventing me from switching to this addon from the official one. I need to be able to middle-click links and not have the new tab suddenly switch to the foreground because it's opened in a different container.

[2018-04-13 19:00] ethhics commented on #26
@Kintesh, I believe that this is fixible by simply adding `active: false` after `webRequestListener.js:10` as per [`tabs.create()`](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/API/tabs/create).

[2018-04-16 18:00] rmenessec commented on #10
Seconded: I would really appreciate a mechanism to _prevent_ sites without matching rules from opening in any container at all.

For example: I use [a feed reader service](https://www.newsblur.com/). I have a rule set in Containerise so that Newsblur always opens in a container dedicated to Newsblur. When I click an outgoing link (destination other than newsblur.com) to read a "full article" (the

[2018-04-16 18:09] rmenessec commented on #21
It would match port numbers, too.

I've spent a lot of time stuck on intranets where several web sites are running off a single server—or at least a single hostname or IP—which are only differentiated by port number or path elements (or both). Underneath the one host name, there may be multiple servers or multiple webserver services on the same host; none of which share data. (See also proxies pro

[2018-04-16 19:41] sojusnik commented on #10
I am in the same situation, having a container for all Google services, like YouTube or Gmail. An outgoing link on these sites is still opened in the "Google" container, but I would prefer it to open in the default one. At the moment I use the context menu to open those links within the default container.

Maybe someone already has found a convenient workaround?

[2018-04-20 05:28] DigitalPhreaker opened #27 "If a websites URL does not begin with WWW, opening it in a Facebook container casues the container tab to open and close endlessly until forced to close"
Hey, Kintesh! First, just let me thank you for this add-on. Being able to throw other sites that require Facebook log-ins into Mozilla's Facebook container has been a lifesaver.

But I ran into an issue with it and Containerise seemingly fighting over a URL's full address. I added [a site earlier today](http://98kupd.com) to Containerise, to always open the Facebook container, something I've done

[2018-04-20 16:58] andreicristianpetcu opened #28 "Containerise does not respect the selected tab"
I have mozilla.org mapped to my personal container.
![screenshot from 2018-04-20 18-50-02](https://user-images.githubusercontent.com/922368/39063598-e9a7e3cc-44cb-11e8-8a9f-1f5a2605abe6.png)

If I open a mozilla.org page from some [non-mapped page like DuckDuckGo](https://duckduckgo.com/?q=bugzilla+main+page&t=ffab) with ctrl+click it will auto select the next page. https://vimeo.com/265791931

I

[2018-04-20 18:30] andreicristianpetcu commented on #28
I sent a PR to fix this https://github.com/kintesh/containerise/pull/29

[2018-04-23 21:43] kintesh commented on #28
Thanks for PR. Released with 2.3.0

[2018-04-23 21:43] #28 closed

[2018-04-23 21:43] kintesh commented on #26
Released with 2.3.0

[2018-04-23 21:43] #26 closed

[2018-04-23 21:44] kintesh commented on #14
Released with 2.3.0

[2018-04-23 21:44] #14 closed

[2018-04-23 21:44] kintesh commented on #12
Released with 2.3.0

[2018-04-23 21:44] #12 closed

[2018-04-24 04:56] practik commented on #12
It seems to be working perfectly now. Thank you, @kintesh!

[2018-04-26 22:22] aprokop opened #30 "Use firefox sync"
Would it be possible to use `browser.storage.sync` instead of `browser.storage.local`?

[2018-04-27 15:41] ethhics commented on #30
On first inspection I'd say it looks possible: the API looks similar, so you could simply change the two instances of `local` in the whole repo with `sync`. There's definitely appeal to having it work with FF sync, too.

[2018-04-29 15:29] elypter opened #31 "[feature suggestion] add button to add current website"
when managing the domains of a container there should be a button to easily add the domain of the website in the active tab.

[2018-04-29 18:10] elypter opened #32 "[feature suggestion] select container of current tab when opening the menu"
the drop down box should automatically select the container the current tab is using if aplicable.

[2018-04-29 19:03] kintesh commented on #31
I am thinking of having a context menu.

[2018-04-29 20:28] elypter commented on #31
those get cluttered though and are difficult to access on mobile

[2018-05-06 16:15] heussd commented on #10
@sojusnik [Google Container](https://addons.mozilla.org/de/firefox/addon/google-container/) allows you to do this: it automatically opens all Google-related services in a dedicated Google-Container. Whenever you click on external links within it, it is opened outside of the Google-Container.

[2018-05-06 17:28] rmenessec commented on #10
@heussd, thanks for pointing that out.

Personally, I'm getting ready to disable Containers if neither Containerise nor Firefox Multi-Account Containers are going to fix this problem. And it really is a problem: there's no point in opening every Facebook URL (for example) in a Facebook container or a Google URL in a Google container if other sites' data are going to pollute the containers. That de

[2018-05-11 14:48] kintesh commented on #27
Well I can't replicate it on my side. I don't have any other addons that use container api. my config was `98kupd.com , Test1` and I was able to visit 98kupd.com and www.98kupd.com without any issue. I am happ for you to create a PR if figue out.

[2018-05-11 15:59] #22 closed

[2018-05-11 16:00] #16 closed

[2018-05-22 22:46] elypter commented on #21
you could have different reddit accounts for different subreddits or different forum accounts for different subforums or you could appear logged in to a website only if you want to. eg: when writing comments or viewing the profile page.

[2018-05-23 10:46] elypter opened #33 "[suggestion] Automatically group all domains of a cooperation"
there are several container extensions on amo for twitter, google, facebook and so on. this is nice but it only helps with the big players and requires dedicated work. however they only important information to make those work is the list of domains for that container. those are chosen to include as little as needed to make their services work. a good estimate for that is to take all domains that

[2018-06-01 18:14] grahamperrin commented on #25
Works for me. Containerise 2.3.0 with Waterfox 56.2.0.

[code]

My `storage.js` comprises:

`{"map=mobile.twitter.com":{"host":"mobile.twitter.com","containerName":"Twitter","cookieStoreId":"firefox-container-38","enabled":true},"map=twitter.com":{"host":"twitter.com","containerName":"Twitter","cookieStoreId":"firefox-container-38","enabled":true}}`

[2018-06-01 21:49] grahamperrin commented on #25
I reduced mine (in the GUI) to one rule instead of two,

`*.twitter.com`

For me, this catches both domains.

[2018-06-01 22:03] olliebean commented on #25
Behaving very strangely for me - if I open mobile.twitter.com in an existing tab which is already in a different container, it correctly switches to the Twitter container. But if I open it in a new tab, or in a tab that isn't in a container, it doesn't switch and stays non-containerised.

[2018-06-02 04:30] grahamperrin commented on #27
I'll look at this.

Whilst I prepare, it might help to have troubleshooting information – text (not raw data) from:

- about:support

[2018-06-03 07:09] grahamperrin commented on #25
Let's double-check:

– meaning, you do **not** use Mozilla's [Firefox Multi-Account Containers](https://addons.mozilla.org/addon/multi-account-containers/) extension. Please, do I understand correctly?

[2018-06-03 08:49] olliebean commented on #25
No, I don't use the Firefox Multi-Account Containers extension, as I find it easier to assign containers with Containerise. Also I've had conflicts between the two extensions when I had them both installed.

[2018-06-03 09:56] olliebean commented on #25
OS: Windows 10
Firefox: 60.0.1 (64-bit)

[2018-06-04 07:49] matt2hews commented on #21
Providing support for wildcards such as *.google.com would be helpful enough, even if it weren't full regex.  Currently, each subdomain has to be listed individually to have it function as desired.

[2018-06-04 12:11] grahamperrin commented on #25
Thanks,

Exactly.

I asked because here, after previously finding no problem with Containerise:

1. Containerise ceased working (for mobile.twitter.com) when I enabled Firefox Multi-Account Containers
2. I also found Mozilla's extension not working as expected – I simply could not get the GUI with either (a) outdated version 4.1.0, which supposedly **is** compatible with (Firefox 56-based) Waterfo

[2018-06-04 16:35] olliebean commented on #25
Sorry, no, that didn't work. Containerise is still switching to the Twitter container for mobile.twitter.com if and only if it's opened in a tab that is already in another container.

What does work is installing Containerise to a fresh profile, and importing my rules from my existing profile. So there must be something else in my profile, perhaps a clash with another extension, that is causing it

[2018-06-05 18:57] rmenessec commented on #21
Seconding @matt2hews. If the delay in implementing this badly-needed functionality has anything to do with the complexity of regex, I'd gladly settle for simple wildcard functionality; at least to begin with.

[2018-06-06 06:19] grahamperrin commented on #25
OK, can you share troubleshooting information? Text (not raw data) copied from:

- about:support

Thanks

[2018-06-06 10:02] olliebean commented on #25
Here's my troubleshooting info:

[troubleshooting.txt](https://github.com/kintesh/containerise/files/2075633/troubleshooting.txt)

[2018-06-07 11:39] andreicristianpetcu opened #34 "Containerise blocks all page loads in latest Nightly"
Hi,

I'm running Containerise v2.4.0 with Nightly 62.0a1 (2018-06-06) (64 de biți) and all pages do not load when I try to open a new page. I basically cannot use Firefox in this situation.

I tried to investigate with perf.html but I did not manage to get a lot of information.
Please tell me how I can troubleshoot this further.

I will stop using you extension until this gets fixed. This is not a

[2018-06-07 13:29] andreicristianpetcu commented on #34
Hmm.... they fixed it in Nightly I think :D

[2018-06-07 13:29] #34 closed

[2018-06-08 03:43] grahamperrin commented on #25
Thanks.

At the time of writing, with (lesser used) Firefox, symptoms are evident with Firefox Multi-Account Containers disabled.

I renamed an old container to Twitter, then used Containerise to specify `*.twitter.com` for the container.

<kbd>Control</kbd>-<kbd>T</kbd> followed by manually going to `twitter.com/` (auto-completed): success.

<kbd>Control</kbd>-<kbd>T</kbd> followed by manually go

[2018-06-08 05:20] grahamperrin commented on #25
In my Firefox case the simplest workaround seems to be:

- disallow multi-process (e10s).

### Steps to workaround

1. about:config?filter=browser.tabs.remote.force-disable
2. if the boolean `browser.tabs.remote.force-disable` does not exist, create it
3. make it `true`
4. quit
5. start Firefox.

@olliebean please, is that a workaround for your case?

----

@kintesh whilst I don't expect users to

[2018-06-08 06:03] grahamperrin commented on #27
Here:

- reproducible when Firefox Multi-Account Containers 6.0.0 and Facebook Container 1.3.1 are enabled
- not reproducible when those two extensions are disabled.

[code]

[2018-06-08 09:48] olliebean commented on #25
Yes, creating `browser.tabs.remote.force-disable` and setting it to `true` does fix the problem for me. As for the pros and cons of single-process Quantum, I'll leave it like that for a bit and see how it goes.

[2018-06-08 21:02] olliebean commented on #25
Seems the main pro of single-process is the ability to containerise mobile.twitter.com reliably, and the main con is Firefox runs noticeably laggier. I think I'll put up with the Twitter issue for now.

[2018-06-18 10:53] happycoder97 commented on #24
This is a much needed enhancement.

[2018-06-21 15:01] brenthuisman opened #35 "Startpage(s) not opened in defined containers"
I have Firefox set up with a few startpages, but they do not open in their containers (simply the default one). Only if, after Firefox startup, I press the home button do they open in the right tab, or of course when I navigate there any other way.

Is this intentional or an oversight?

[2018-07-31 03:35] sveitser opened #36 "Opening in container based on Path doesn't work"
I installed this addon because I would like to open `example.com/foo/*` in container `A` and `example.com/bar/*` in container `B` but I'm not able to get this to work.

As far as I understand it should be supported since #5.

I tried turning off all other extensions but that didn't help. For instance if I configure `github.com/sveitser` to open in the personal container it doesn't open in any cont

[2018-07-31 04:11] sveitser commented on #36
I wonder if this is caused by passing the hostname instead of the URL here

https://github.com/kintesh/containerise/blob/888566d0839c6bda08d397e85e6a1be43235df00/src/webRequestListener.js#L30-L36

whereas the URL is expected here

https://github.com/kintesh/containerise/blob/888566d0839c6bda08d397e85e6a1be43235df00/src/Storage/index.js#L21-L33

[2018-08-20 20:12] #36 closed

[2018-08-20 20:13] kintesh commented on #35
Could be due to how firefox works/loads extensions. Needs further investigation.

[2018-08-20 20:58] kintesh commented on #32
Done in version 2.5.0

[2018-08-20 20:58] #32 closed

[2018-08-21 13:26] crssi opened #38 "Latest Containerise (2.5.0) does not work well together with Temporary Containers"
Hi
After today's update of [Containerise](https://addons.mozilla.org/firefox/addon/containerise/) (ver 2.5.0) the funny things happens when using also [Temporary Containers](https://addons.mozilla.org/firefox/addon/temporary-containers/) ver (0.9.0)

Firefox 61.0.2, 64bit.
Windows 10, 64bit.

Steps to reproduce (**no.1**)
1. In Containerise define `*.github.com , GITHUB`
2. In "Temporary Container

[2018-08-21 14:16] rmenessec commented on #10
@kintesh, can you comment on when and whether Containerise will implement #4 / #10 / #21? If I don't have a way force sensitive sites into designated, isolated containers _and_ prevent unrelated sites from polluting / accessing the containers, then the entire Firefox Containers feature is merely security theatre, and I may as well uninstall Containerise and Firefox Multi-Account Containers, rather

[2018-08-21 14:28] kintesh commented on #4
This kinda works with v2.5.0 but its case sensitive. I'll fix this in next release.

[2018-08-21 14:32] kintesh commented on #10
@rmenessec with v2.5.0 #4 kinda works but its case sensitive. I'll fix it in next release. #10 is I'll take a look at it soon. #21 probably not anytime soon because the current implementation is very scalable and requires more work which I don't have time for.

[2018-08-21 14:48] rmenessec commented on #10
@kintesh, can you mitigate #21 with simple wildcard support for now? At a minimum, I need to be able to assign, _e.g.,_ *.acme.com (implied: also acme.com, no subdomain) to a container, so I don't have to create hundreds or thousands of rules just to handle mail.acme.com and calendar.acme.com and all the other variations I expect to encounter.

An even better example would be *.amazonaws.com; when

[2018-08-21 15:04] kintesh commented on #10
@rmenessec that feature was added v2.1.0. *.domain.com works. I have *.amazon.co.uk which catches amazon.co.uk, www.amazon.co.uk and smile.amazon.co.uk

[2018-08-21 15:10] crssi commented on #38
I would be glad to help with a fix, but unfortunately my knowledge here is limited (like around frozen 0).
Failing back now to 2.4.0 until fix.

Thank you again for your fine work and community contribution
Cheers

[2018-08-21 15:30] rmenessec commented on #10
@kintesh, good to hear. I'm looking forward to #4 and #10, then. Thanks.

[2018-08-25 20:45] elypter commented on #32
thanks

[2018-09-05 14:26] crssi commented on #38
Is there any ETA?

Thank you and cheers

[2018-09-07 10:20] edouard-lopez opened #39 "Autofill with current URL when adding a new rule"
Hi, nice addon!

On my first use, I was expecting the _add new rule_ feature to suggest the current URL or FQDN I was visiting.
This will reduce friction for users.

[2018-09-07 10:23] edouard-lopez opened #40 "Improve rules saving UX"
Again, nice work :)

On my first tests to add a new rule I wondered about the save icon and expected my rule to be automatically saved once entered. So, I typed it and close the popup. After checking it was not saved so I add to do it again.

The `save` button would be better at the bottom of the rule fields like a form.

[2018-10-01 09:46] bitstreamout commented on #11
I see this double open if I enable in the page menu below `Firefox Multi-Account Containers' the option `Always Open In This Container'

[2018-10-01 09:53] bitstreamout commented on #27
I see a similar effect in combination with `Google Container' that is open a link in the tab with the Google search results in a new tab  endlessly switching between default and google container

[2018-10-14 20:20] grahamperrin opened #42 "strict_min_version 57.0"
Follow-up to https://github.com/kintesh/containerise/commit/84cb6415989e8aa2994c5b2c188d8fea8016f938#commitcomment-29214740

Versions 2.4.0 and 2.5.0 do seem to work (at a glance) with Waterfox 56.2.3, which falls below the strict minimum version. Also, at <https://addons.mozilla.org/addon/containerise/versions/>:

Please, should I be aware of any _particular_ risk/problem when mixing 2.5.0 with W

[2018-10-25 19:28] kintesh commented on #4
Fixed in 2.5.1.

[2018-10-25 19:28] #4 closed

[2018-10-25 19:28] kintesh commented on #42
Changed to 53 in v2.5.1.

[2018-10-25 19:28] #42 closed

[2018-10-26 06:13] grahamperrin commented on #42
https://github.com/kintesh/containerise/commit/15f1597304be51bb08a792cd0f495f153c783a01 noted with thanks, in particular:

[2018-11-08 16:52] gitrdn commented on #33
i happened upon a repository about an hour before seeing this post. seen it?

https://github.com/shvchk/containerise-lists

[2018-11-19 14:22] businessBoris commented on #21
Please see firefox add-on called "cookie autodelete" for a very good demonstration of regex and wild cards (to an extent).

I would like regex support so that I can direct (www|alerts|contacts|maps).google.(co.uk|com) and others to a "tracking" container and console.cloud.google.com to a "company" container (because they use two different google accounts). Without regex that would be a great big l

[2018-11-27 22:44] sojusnik commented on #10
Any updates on this issue?

Still can't find an alternative add-on allowing us to manually define websites, that should remain within a certain container (like f.i. [Google Container](https://addons.mozilla.org/en-US/firefox/addon/google-container/) does for Google related sites), and open links from those sites to other non-defined sites in the default container.

[2018-12-12 21:59] szalkerous commented on #30
PLEASE add in Sync Storage API support. I realize it's limited to 100KB per extension, but I'd be shocked if this one exceeds that even in heavy-use environments. Having to export and use hacky workarounds to sync the lists between installs is really rough and unnecessary. I noticed this has been open for almost 8 months... this is a make-it-or-break-it feature for me to continue using Containeris

[2018-12-16 16:57] Fidgetcetera commented on #11
This also occurs if two rules from different domains match simultaneously (?).
For example, if I set up the same container to open for the following rules:
`*.google.com` and `*.youtube.com`
Opening youtube.com opens two tabs (presumably, something on youtube's page also triggers `*.google.com`). This does not occur for more specific or duplicate matches, for example `*.twitter.com` and `tweetdeck

[2019-01-07 08:25] Reylak opened #43 "Catch keyword-based searches"
When using a [smart keyword](https://support.mozilla.org/en-US/kb/how-search-from-address-bar?redirectlocale=en-US&redirectslug=Smart+keywords) in the location bar to do a search, the used tab is not moved to the corresponding container, even if the tab is not in any container (I understand the behavior is expected if the tab is already in a container, as the container change also does not happen

[2019-01-07 08:39] Reylak commented on #43
I just realized it actually catches keyword searches, but only when there are two words in the search! For instance, with the search keyword "kw": "kw test" is **not caught**, but "kw double test" is caught.

[2019-01-11 18:56] LoveIsGrief commented on #21
I would like to start work on this.

Multiple options:

# Treat all entries as regex

Less flexible and would force to introduce a new way of handling globs (should that ever be requested)

# Add preference on how to treat all entries by default

More flexible, but still a global setting. At least it will be possible to add more options e.g

 - treat as normal string
 - treat as glob
 - treat as r

[2019-01-11 22:58] businessBoris commented on #21
@LoveIsGrief Good luck sir(?)!
If you have the time to create another profile for Firefox and install https://addons.mozilla.org/en-GB/firefox/addon/cookie-autodelete/ you can see that the glob to regex conversion is visible and quite ingeniously presented. You shouldn't need the prefixes.
Happy to help in any way that I can.

[2019-01-12 14:02] LoveIsGrief commented on #21
@businessBoris I had a look at cookie-autodelete, do you mean [this](https://addons.cdn.mozilla.net/user-media/previews/full/189/189658.png?modified=1543520769) ? It looks like auto-converstion glob -> regex. One can only edit the glob and not the regex.

If one were able to edit the regex, on wouldn't be able to convert any regex to glob, so I don't think I'll be going for that.

Or have I misund

[2019-01-13 14:14] LoveIsGrief opened #44 "[Feature request] Add preference to choose matching hostname or complete URL"
#4 Added matching the path component of the URL, which is not in the addon description and something I discovered while looking at the code.

I think it would be good to define in a preferences page whether the complete path or just the hostname should be considered for matching. The reason is partially because of #21 (regex support) which will make regexes like `(yada|pop)\.somewhere\.test$` fail

[2019-01-13 17:20] LoveIsGrief opened #45 "Updating entries leaves the old entry and creates a new one"
# Steps to reproduce

1. Add an entry e.g `something.com`
2. Save the entry
3. Modify the entry e.g `aaaa.something.com`

# Result

`something.com` and `aaaa.something.com` exist now.

Here's a [video](https://gfycat.com/PlumpWhirlwindDrake) thereof.

[2019-01-13 17:59] LoveIsGrief commented on #31
@elypter what exactly is the button supposed to do? And where is the button supposed to be added if you don't want a context menu? Extensions are limited to a single button, but there are no limitations on the number of contextmenu entries.

[2019-01-13 18:00] LoveIsGrief commented on #9
I wouldn't mind having a look at this, but do you have an example @shvchk ?

[2019-01-13 18:37] LoveIsGrief commented on #33
I would be against importing those lists automatically / creating them with the extension. I'd be for adding an option in the (currently non-existent) preferences page that downloads (or provides) those domains and give the user the option to:

 - add them manually
 - update the existing patterns and create the necessary containers

[2019-01-13 19:52] elypter commented on #33
which would be days of work that every user has to do over and over again or realistically not at all.

[2019-01-13 22:17] shvchk commented on #9
@LoveIsGrief [карелия.рф](http://карелия.рф) or [мосполитех.рф](http://мосполитех.рф) or [лигагероев.укр](http://лигагероев.укр)

[2019-01-14 10:32] LoveIsGrief commented on #33
OK, so what exactly are you proposing @elypter ? Please expand on your idea.

[2019-01-15 10:13] LoveIsGrief commented on #33
So you would like to containerise domains by ownership. I don't think it's a bad idea, but how to you see this happening in this extension?

Could you describe a usecase / the steps a user would take in this extension to reach the goal?

For example:

 1. Open the dropdown from the containerise icon
 2. Select a container
 3. Click on new button that says "containerise corporation"
 4. Enter a wiz

[2019-01-16 10:19] LoveIsGrief commented on #33
I'm against forcing rules upon people. I'd much rather give them the option. But the final say is down to @kintesh

[2019-01-16 17:45] elypter commented on #33
nobody evertalked about or wants to force rules. this is about the ownership network. that isnt about opinions but this can be derived from wikipedia pages and official resources. and if you really want your own reality in your browser then you can change the network to you liking and disable updates.

[2019-01-25 10:35] LoveIsGrief commented on #45
Closed with #47

[2019-02-01 16:08] gadgetfan10 opened #50 "Cannot tell which container is in use on Android"
I don't see any indication of which container is in use on Android, which makes it difficult to know if the extension is working as intended.

Am I missing something, or is this a feature that can be added?

Thanks.

[2019-02-17 23:32] madduck opened #51 "More flexible wildcards"
Currently, the pattern `*.ebay.*` does not match any Ebay sites, only leading wildcards work. It would be great if this could be enabled, or even regular expressions supported.

[2019-02-21 16:04] ethhics commented on #39
Similar to #31, though I like this idea more

[2019-02-26 10:28] babolivier opened #53 "Don't open tab in a specific container if that tab is already in a container"
My setup for e.g. Twitter would be:

* I have two Twitter accounts
* I have a specific container for my secondary Twitter account
* I have a Twitter container defined in containerise

When I want to get to my secondary account, I open a new tab in the specific container for this account and go to twitter.com with it. However, since the URL matches twitter.com, it reopens the tab in the Twitter con

[2019-03-19 15:19] LoveIsGrief opened #56 "Release a new version to AMO"
Regex and glob support have been added as well as one or two bug fixes. It would great if we could get these on AMO

[2019-03-19 17:17] kintesh commented on #56
I will test the changes today and release it once everything is working!

[2019-03-19 21:26] #51 closed

[2019-03-19 21:30] kintesh commented on #45
@LoveIsGrief I'll have to pull out your change from next release. By clearning the storage, you'll lose other entries and only keep the the ones in view. This is due to my original bad implementation.

[2019-03-22 16:46] #56 closed

[2019-03-27 11:37] p-rintz opened #57 "CSV Editor breaking Regex with length check"
Hello,

The following regex will not work if saved in the CSV editor as when you click save, two spaces will be inserted before and after the comma. Such as this:

From:
`@^https?://(.{1,15}\.)?(amazon\.co\.uk)$`

To:
`@^https?://(.{1 , 15}\.)?(amazon\.co\.uk)$`

When saved in the normal view it will be saved correctly.

[2019-04-01 17:04] DavidPineauScality commented on #13
As a user of containers to split two authentication schemes, there are cases where it'd be useful for me, and cases where it might hurt me.

My suggestion would be to make this behavior configurable on a per-match basis, rather than have it as a global behavior.

[2019-04-05 10:06] LoveIsGrief commented on #45
Woops, you're right. I didn't test for that.

[2019-04-08 15:14] madduck opened #59 "Option for temporary containers"
At the moment, I have to use Temporary Containers in addition to Containerise, but that is only because Containerise is missing the one feature I need from TO: temporary containers. It'd be awesome if I could e.g. create a rule like:

[code]

which would then result in a new container be created every time I visit a matching website. The temporary containers would need to be cleaned up as well whe

[2019-04-08 20:38] #57 closed

[2019-04-08 20:39] #21 closed

[2019-04-09 09:42] stoically commented on #59
Instead of re-inventing the wheel, it would also be possible to call [TCs API](https://github.com/stoically/temporary-containers/wiki/API) to let it create and handle TCs.

However, TC supports [Per-Domain Isolation](https://github.com/stoically/temporary-containers/wiki/Per-Domain-Isolation) rules which also take RegExps - which would achieve exactly what you're asking for here.

[2019-04-09 09:45] stoically commented on #50
Opening tabs in containers [isn't yet supported on Android](https://bugzilla.mozilla.org/show_bug.cgi?id=1398097).

[2019-04-09 12:45] madduck commented on #59
I am using TC as well as Containerise, and I'd appreciate being able to unify those two. Yes, the regexp needs work, it was just quick'n'dirty for this issue…

[2019-04-24 17:56] quietlystorming commented on #14
It seems this is happening for me now. I'm using version 3.0.1, and when I navigate to a container-defined URL, a new tab closes and replaces the current one. Using FF 66.0.3, win8.1 x64, tested with all other add-ons disabled.

[2019-05-07 23:20] k4n30 commented on #30
I'm all for using the firefox sync function, but it's not supported on all browsers, so it's going to require more effort than just replacing `local` with `sync`. It would also require some logic to handle unsupported browsers

[2019-05-08 09:25] mcepl commented on #30
What? We are talking about extension for Firefox here. Which version of Firefox doesn't support Firefox Sync?

[2019-05-08 22:12] k4n30 commented on #30
Sorry I was referring to the sync api that is being proposed. I incorrectly assumed this extension worked on other browsers too, some of which the api works with and some it doesn't. I stand corrected

[2019-05-09 02:33] lucassz commented on #44
I support this as well. I noticed this issue when using globs, where something like `*://*.amazon.com/*` will also match addresses on a completely different domain that have an Amazon link without a query parameter. I can fix this with a more elaborate regex, but it makes the globs pretty much unusable.

[2019-05-09 10:51] mcepl commented on #30
Yeah, the repository is called “Firefox extension to automatically open websites in a container”.

[2019-05-18 03:20] omnjpa27516 commented on #59
@kintesh Please remove screenshots in package. The entire package size is 280k, and the screenshots take up 245k...

[2019-05-27 08:03] grenzor opened #60 "Ability to customize container color and logo for each container"
It would really nice if containerise could customize container color and logo within its rules. For example syntax could be `github.com, github, blue, circle` to specify blue circle icon for github container.

[2019-05-28 08:41] ashwinvis commented on #14
I can confirm that the issue persists, I start searching, click on a website assigned to a container, now I cannot press the back button. The official container extension does not have the problem.

[2019-06-05 14:18] ps-jay opened #61 "file:// style URL's don't seem to be recognised"
I can't seem to make Containerise trigger on local file URL's.

e.g. file:///Users/pj/Desktop/foo.html

[2019-06-05 22:24] businessBoris commented on #45
@LoveIsGrief , did you have a chance to look at it again?
Thank you.

[2019-06-06 07:19] LoveIsGrief commented on #45
@businessBoris it seemed like either a restructuring or a hack would be necessary and I don't have the will to invest that much time into that, sorry.

Maybe @kintesh could improve his original implementation. He might have a better idea what to do about it.

[2019-06-06 14:52] MikeRixWolfe opened #62 "UI does not open when in overflow menu"
FFv67

When the Containerise icon/button is pinned to the overflow menu, clicking on it brings up a blank menu rather than the actual menu

[2019-06-06 15:10] MikeRixWolfe commented on #62
restarting ff fixed it? eh, closing

[2019-06-06 15:10] #62 closed

[2019-06-08 17:31] da2x commented on #30
Sync isn’t supported in Firefox for Android. Using `(browser.storage.sync || browser.storage.local)` lets it use local storage instead.

[2019-06-08 17:35] da2x commented on #30
After a quick review: Sync support should be as easy as replacing `storage.local` with `storage.sync` in two locations **plus** migrating users from local to sync storage by moving all entries from one to the other.

[2019-06-24 19:22] sungerbob opened #64 "Redirects specified glob rule whether or not in adress bar"
I think it shouldn't open specified rule in searches etc. but it should on links. I don't know why it didn't open in google but ddg.

![123](https://user-images.githubusercontent.com/31207969/60045754-4ebdc600-96ce-11e9-81a3-fee5666ff5e7.gif)

[2019-07-07 04:19] doronbehar commented on #13
Hey guys, I'm giving this extension a test drive and after configuring some domain-extension mappings, I don't experience this issue. Perhaps this was implemented but @kintesh didn't close the issue?

[2019-07-07 04:38] doronbehar commented on #10
Hey, just wanted to mention here directly a workaround mentioned in a comment by @NomDeMorte [from #20](https://github.com/kintesh/containerise/pull/20#issuecomment-497721573): His addon [container-outgoing-links](https://addons.mozilla.org/en-GB/firefox/addon/container-outgoing-links/), makes links from a container to a different domain then the current, open without a container. The resulting UX

[2019-07-07 04:41] doronbehar commented on #27
@SetekAstronomy have you tried adding both the domains: `www.98kupd.com` and `98kupd.com`?

[2019-07-07 04:46] doronbehar commented on #30
Yea, I think what holds back @kintesh from just replacing `storage.local` with `storage.sync` is the migration experience - he doesn't want users to have an automatic update to the extension (as it is happens by default just in the background) and find out that all of their rules just disappeared.

[2019-07-07 04:48] doronbehar commented on #31
Currently what is implemented is a context menu right? I think a configurable keyboard shortcut should satisfy @elypter.

[2019-07-07 12:43] LoveIsGrief commented on #39
Seems easy and reasonable enough. I think FQDN is best.

Drafting a pull request...

[2019-07-07 14:20] LoveIsGrief commented on #61
It's a firefox bug: [Bug 1341341 API does not support file: requests](https://bugzilla.mozilla.org/show_bug.cgi?id=1341341)

[2019-07-08 18:09] #61 closed

[2019-07-08 18:31] #39 closed

[2019-07-08 19:19] LoveIsGrief commented on #9
This should've been fixed with #48

Could you confirm @shvchk ?

I'll reopen if that's not the case.

[2019-07-08 19:19] #9 closed

[2019-07-08 19:27] LoveIsGrief commented on #31
I think this has been resolved simultaneously with #39

I'd be inclined to close this unless a more detailed feature description is provided

[2019-07-08 19:28] LoveIsGrief commented on #23
@sutex has anything improved? Are you still using Cyberfox?

[2019-07-08 19:36] LoveIsGrief commented on #60
The spaces in red could be used as drop downs for the icon and color.

![suggestion](https://user-images.githubusercontent.com/2829538/60837422-6ade5e80-a1c8-11e9-8006-457f272ecd40.png)

[2019-07-08 19:47] LoveIsGrief opened #66 "Store hosts under dedicated key in storage"
In order to introduce preferences, the internal storage structure has to be changed such as #44. It might also help fixing #45

[2019-07-08 20:57] kintesh commented on #66
At the same time we can migrate to using sync. Its better to keep one breaking change.

[2019-07-08 23:34] lucassz opened #70 "3.1.0 update breaks compatibility with Temporary Containers"
Containerise was coexisting wonderfully with Temporary Containers for me until the 3.1.0 update, but the change to have "all unmapped urls now open outside of any container" seems to have broken the compatibility with TC's Isolation Mode.

[2019-07-08 23:35] Speravir opened #71 "Introduce prefence to leave tabs behind instead of closing them"
The new behaviour [“Do not close tabs when entering/exiting a container.”](https://github.com/kintesh/containerise/commit/bd8dce66cdb59f9a3b15dd28b15c1240e361c50e) introduced in v 3.1.0 is to no purpose for me – or it is buggy. Now totally empty tabs with no content are left behind here, and this I do not need at all. I switched back to v.3.0.1 for now.

Actually automatically moving certain sites

[2019-07-09 00:12] Radagast commented on #70
I'm not sure the only issue is with temporary Containers. For me, with Containerise alone I get two tabs opening for any link to a site with a defined container. With TC enabled it can be multiple tabs. Unfortunately, TC also got an update today too. That said, reverting to 3.0.1 seems to fix the issue.

[2019-07-09 01:11] pezz commented on #70
Is there somewhere I can download the 3.0.1 xpi from until this is fixed?

Cheers.

[2019-07-09 01:59] sutex commented on #23
@LoveIsGrief  No moved on Waterfox  Cyberfox stopped been developed so not using this addon

[2019-07-09 05:12] rohit-smpx commented on #11
I faced the same problem after a recent update. It led to infinite tabs being opened, with each new tab opening another new tab. It happened to me on google and youtube both. Disabling the extension fixed it for now

[2019-07-09 05:23] dboy591 commented on #70
The breakage with TC seems to be due to the lack of a "No Container" in this latest version of Containerise.  Manually reverting to the previous version for now.

[2019-07-09 07:24] crssi commented on #11
Quote from @dboy591

[https://github.com/kintesh/containerise/issues/70#issuecomment-509492949](https://github.com/kintesh/containerise/issues/70#issuecomment-509492949)

[2019-07-09 08:30] arlavit opened #72 "Opening Facebook container causes running uncontrollable blank tabs + any tab in container is blank"
New version 3.1.0 broke everything. I've had to roll back on 3.0.1. Actually I couldn't even open any tab in any container, because they haven't been loading and have been blank at all. Opening a new Facebook container (Mozilla extension) tab caused unlimited opening of blank tabs.
Other extensions I am using: Easy container shortcuts, Facebook container, Firefox Multi-account containers.

[2019-07-09 08:46] LoveIsGrief commented on #23
I guess that settles it.

[2019-07-09 08:46] #23 closed

[2019-07-09 08:52] LoveIsGrief commented on #66
Honestly, I'd rather have the choice between local and sync storage. A preference would be preferred and this would pave the road for that and future preferences. Plus a finer granularity in the versions would be better:

 - version N: separation of keys in storage
 - version N+1: preference X
 - version N+2: preference Y

That would also allow users to fallback to specific features.

[2019-07-09 08:57] dr4Ke opened #73 "v3.1.0 breaks multi-account containers altogether"
Using the latest firefox, a completely new profile with "Containerise" and "Firefox Multi-Account Containers" (FMAC below) add-ons only, with no rule in "Containerise".

I'm facing two cumulative behaviors:

- Any site pinned to a specific container with FMAC is opened in a new "no container" tab by "Containerise" and FMAC asks me to open it in the right container again.
- If I tell FMAC to rememb

[2019-07-09 13:13] benji1304 commented on #73
Could this be causing the issue here?
https://github.com/mozilla/contain-facebook/issues/469

[2019-07-09 13:37] bitstreamout commented on #73
I see this also for amazon container open inifinte tabs in loop ... also search in in duckduckgo open two tabs from search engines where the first is a standard tabg and the second is the a personal tab (as I had configured this duckduckgo) .... only the google container works flawless

[2019-07-09 13:47] bitstreamout commented on #73
The only workaround is to add some amazon domains to avoid those loops ... seems that "Containerise" fights against "Amazon Container"  ... I guess that this also is the cause for the loop with "Facebook Container" and similar addons ... and as I had already some google domains configured in "Containerise" the fight with "Google Container" does not happen (as long as I do not access an unkown goog

[2019-07-09 13:58] benji1304 commented on #73
Rolling back to a previous version for the moment seems like the easiest workaround

[2019-07-09 14:07] burillo-se commented on #72
i have this issue as well - any time i try to open any site that's being forced to containerize, it just endlessly opens new tabs without actually reaching to the site.

[2019-07-09 15:41] gbdlin commented on #73
When rolling back to previous versions, remember to disable automatic updates for this addon.

[2019-07-09 15:58] dr4Ke commented on #73
Most probably.

[2019-07-09 16:00] dr4Ke commented on #73
The issue is that Containerise systematically opens undefined sites in a "No container" tab, while any other add-on tries to open it in a specific container. The most spectacular effect is with add-ons that automatically do so.

[2019-07-09 17:14] arlavit commented on #72
That's why I had to roll back on 3.0.1 and it's better now.

[2019-07-09 17:34] Speravir commented on #71
Addendum, sorry that I did not think of it yesterday: After reading the linked issues I noticed I should have mentioned, that I use additionally the addons Firefox Multiaccount Containers and Context Plus.

[2019-07-09 17:36] kintesh commented on #70
I will revert the last change. Ideally you should only be using one container add-on as you always run into race condition. FYI I personally stopped using any container extension. So when I develop I don't test comparability with other similar extensions.

[2019-07-09 17:37] kintesh commented on #72
See https://github.com/kintesh/containerise/issues/70#issuecomment-509736333

[2019-07-09 17:37] kintesh commented on #73
See https://github.com/kintesh/containerise/issues/70#issuecomment-509736333

[2019-07-09 17:55] arlavit commented on #70
No way. Every extension has its own features, so one will lose on this.

[2019-07-09 17:56] vshl commented on #70
"all unmapped urls now open outside of any container" should be optional. For instance, if I have two twitter accounts: one personal and one work, I cannot manually assign these twitter accounts to 2 different containers like my current usage.

[2019-07-09 17:58] Nnidyu commented on #73
Actually, the comment in #70 is irrelevant here. The change caused problems for me with the following scenarios:

- Using two containers (with no domains mapped) for work and private stuff on Google Drive.
- Using a service that redirects to another domain for login (the another domain cannot be mapped to the service container because it is shared between various services and I am using different

[2019-07-09 18:26] stoically commented on #73
The change mentioned in the linked comment is about no longer allowing any url to load in any permanent container that isn't assigned with containerise - also causing your issues.

[2019-07-09 18:38] tomose commented on #70
I'm on Waterfox with no other container addons and experience the issue of blank tabs opening as well. So it may not be an issue totally exclusive to having multiple container addons.

[2019-07-09 20:13] kintesh commented on #73
All the changes of v3.1.0 are reverted in v3.2.0

[2019-07-09 20:13] #73 closed

[2019-07-09 20:14] kintesh commented on #72
All the changes of v3.1.0 are reverted in v3.2.0

[2019-07-09 20:14] #72 closed

[2019-07-09 20:14] kintesh commented on #70
All the changes of v3.1.0 are reverted in v3.2.0

[2019-07-09 20:14] #70 closed

[2019-07-09 20:14] kintesh commented on #71
Thanks for the suggestion. For now all the changes of v3.1.0 are reverted in v3.2.0.

[2019-07-09 20:16] kintesh commented on #64
Its bit hard to see in the gif. Can you post your rules.

[2019-07-09 21:02] PopeRigby commented on #11
I'm having it duplicate with Reddit.

![Here's](https://imgur.com/a/uFxrNzC) it happening:

[2019-07-10 00:14] Drizzt321 commented on #73
@kintesh I've got v3.2.0 installed and it's opening up infinite new tabs. Although if I close the newest one to open it stops the opening and I can close them all, or if I close the window.

[2019-07-10 10:24] LoveIsGrief commented on #73
@Drizzt321 Could you open a new bug for that and describe what you're doing? I can't observe this behavior here

[2019-07-10 13:55] Nepherte commented on #10
Release 3.2.0 reverted this change. Re-opening this issue to keep track of this.

[2019-07-12 15:01] LoveIsGrief commented on #71
Going to start work on this once #76 has been approved and merged

[2019-07-12 15:04] LoveIsGrief commented on #59
I'm not sure about requiring the installation of another addon to make a feature work. If @kintesh is ok with it, then sure, let's do it that way. However it isn't difficult to implement it ourselves

[2019-07-12 15:09] LoveIsGrief commented on #43
I'm not observing this behavior and use keywords quite regularly. Could you give an example:

 - URL and keyword
 - containerise rule

[2019-07-12 15:19] LoveIsGrief commented on #11
@PopeRigby which version are you using and which rules do you have pertaining to reddit?

Is this issue always reproducible?

[2019-07-12 15:25] LoveIsGrief commented on #64
@sungerbob you have a rule to open google URLs in the google container. I'm not exactly sure how this would be resolved. Maybe by adding precedence, but how?

Possibly a popup when a URL matches multiple rules.

[2019-07-13 00:22] PopeRigby commented on #11
Version: 3.2.0
[Rules](https://imgur.com/a/zcQcI4O) for Reddit
Doesn't seem to be reproducible. I just did it again and it didn't happen.

[2019-07-14 07:56] sungerbob commented on #64
@kintesh Just wanted redirect all amazon sites (like .com, .co.uk, .de, .in, etc.) to amazon container.
- !*.amazon*
- !*.amazon.!*

[2019-07-14 08:08] LoveIsGrief commented on #64
@sungerbob what about your google rules?

[2019-07-14 08:52] LoveIsGrief commented on #13
As @doronbehar says, it seems to be working and the author doesn't have an account anymore.

@DavidPineauScality If this is still a problem, could you explain what you mean by "splitting to authentication schemes"? Are you talking about OAuth? OpenID? SAML?
Furthermore could you describe a scenario that "hurts you"?

[2019-07-14 16:32] sungerbob commented on #64
@LoveIsGrief I don't know how I'm getting this but I'm getting on few websites. Like duckduckgo etc.
`!*.gmail.*`
`!*.google.*`
`!*.youtube.*`

[2019-07-15 12:33] Reylak commented on #43
The website is https://www.gamekult.com/. I set the keyword `gk` for the search in the main search bar you see at the top. Containerise rule is simply `*.gamekult.com`.

The thing is, visiting this website from a clean tab **does not put the tab in the container**, as if the rule was not triggered. Refreshing the page with F5 does not fix this behavior, however **refreshing without the cache with

[2019-07-19 15:32] pckilgore commented on #30
@kintesh I'd like to help with this as its one of my biggest headaches.  I'll create a PR for further discussion, prefer I make it against dev, or master?

[2019-07-24 10:49] subsign commented on #30
Maybe use both `storage.local` and `storage.sync` and have the user choose? Or the much cooler option of having a diff-style editor to merge from local to sync. The editor offers two core benefits; one allows for the user to manage local to sync and deal with any merge conflicts and the other benefit is an editor for container mappings.

I got the idea from uBlock Origins:
[uBlock/dyna-rules.html

[2019-07-29 11:17] DavidPineauScality commented on #13
@LoveIsGrief let me describe a bit more my situation, as I was not using the right terms (and do not know which are the relevant ones actually):

With my company, I'm using JIRA with the company's SSO, which is connected to bitbucket for VCS handling and code versioning; which is using my personal account.

As such, I need to separate cookies and such for the two domains, and ensure that whenever

[2019-07-29 16:55] pbenedict opened #78 "Fallback container"
I have a couple rules dedicated to domains. However, I am in need of a fallback container that is used when no rules match.

I attempted it. First, I created a named "Default" container. Second, I specified `*` to match everything else, and placed it last. My hope was that specific matches take precedence, and process first, over more generic matches.

I specified this:
`*.google.com , Google`
`*.

[2019-07-30 07:59] LoveIsGrief commented on #78
Duplicate of #10 . I invite you to copy that comment there.

[2019-07-30 07:59] #78 closed

[2019-07-30 16:27] pbenedict commented on #10
I have a couple rules dedicated to domains. However, I am in need of a fallback container that is used when no rules match.

I attempted it. First, I created a named "Default" container. Second, I specified * to match everything else, and placed it last. My hope was that specific matches take precedence, and process first, over more generic matches.

I specified this:
*.google.com , Google
*.micro

[2019-07-30 16:31] pbenedict commented on #10
I have a couple rules dedicated to domains. However, I am in need of a fallback container that is used when "no" rules match (see last paragraph for the caveat).

I attempted it. First, I created a named "Default" container. Second, I specified `*` to match everything else, and placed it last. My hope was that specific matches take precedence, and process first, over more generic matches.

I speci

[2019-07-30 20:34] NomDeMorte commented on #10
I had the same issue, where my desired rules were not followed as a result of the list being sorted..... I think you're on the right track, but the issue here is that you can create the same issue in reverse. IMO, it would be better to not sort the list at all - just leave it as the user enters it, and parse it top to bottom.

Better still, there are other issues filed here and linked above that w

[2019-08-21 08:08] fredrikaverpil commented on #24
I was hoping I would be able to get around this issue with [Switch Container](https://gitlab.com/mjanetmars/switch-container). But, of course, it just causes the container to switch back to what is in defined in Containerise.

[2019-08-25 01:00] PopeRigby commented on #14
It's [happening](https://open.tube/videos/watch/1e2c1747-7edc-40a1-801f-a8a790575622) to me too. Can you re-open this issue @kintesh?

[2019-08-29 16:28] dxlr8r opened #80 "[feature suggestion] automaticially create & assign a container for a domain not already added"
Just stumbled a cross this gem. As the subject says, if the domain isn't already added to a container, create a new container with the name of the domain and add the domain to that container.

[2019-08-29 19:09] LoveIsGrief commented on #80
I wouldn't use the feature, but sure why not. I believe it should be a setting though and not default behavior. That would make it dependent on #76 and future development to introduce settings

[2019-08-30 06:44] dxlr8r commented on #80
Awesome!

[2019-08-30 14:46] kintesh opened #82 "Rewrite all of it?"
Hi everyone,

I created this extension for only one purpose, which was to automatically open a website in a container when visiting from the default Firefox container. Because of this, I kept everything simple as possible; like storing all domain maps at top level on storage, using basic ui and other things. Overtime, more and more people started using this extension so we added more features. Now

[2019-08-30 17:19] LoveIsGrief commented on #82
Hi,

My knee-jerk reaction is we shouldn't rewrite it, since it's a good code-base imo. But it's your project, so you're free to do as you wish and anybody who doesn't agree can just fork it.

Once we get a settings page, I believe it'll be easier to separate features a little.

Which issues make you want to rewrite the extension? Since you're asking the question you might also already have ideas

[2019-08-30 18:32] kintesh commented on #82
I was thinking mostly the UI.

[2019-08-31 00:15] NomDeMorte commented on #82
I think the highest priority for changes right now, is handling what happens when you open a link to a domain with no rule for that domain. I know you started work on this for 3.1.0 but there was a bug so it was rolled back for 3.2.0, but I think it would be good to keep working on that.

[2019-09-01 09:27] LoveIsGrief commented on #82
@kintesh oh, ok. UI is not at all my strong-suit, so I'm fine with how things are.

If you think there are improvements to be made and are concerned about reception, you could start on the preference UI. Then with a preference UI in place, you could then introduce an option for theming with the options: light, dark, custom. Custom could be a custom text-box for people to paste their CSS into.

@No

[2019-09-02 11:15] NomDeMorte commented on #82
I definitely agree that options are important here... And the option you are talking about there is basically a global[ exit rule](https://github.com/kintesh/containerise/pull/20#issuecomment-493786652). And, given the myriad suggestions on how to handle exiting a container, I'd lay London to a brick that if it's made global, someone will ask for it to become site-or container-specific, as per the

[2019-09-02 12:14] LoveIsGrief commented on #82
@NomDeMorte eh... I'd rather have something functional than something beautiful. I'll write the a shitty preference UI that just works for #71 and let whoever wants to improve the UI do that. The backend code for preferences is nearly there and I don't want to wait around for people to discuss UI before making something work.

[2019-09-02 23:52] barneycg opened #84 "CSV editor wipes all entries when saved input is unmodified"
Latest version (3.3.0 I believe) if you hit save on the CSV editor it wipes it resulting in the loss of all rules configured.

I've reverted to 3.2.0 and all is working as expected again

[2019-09-03 08:36] LoveIsGrief commented on #84
I'm sorry, but I can't recreate the issue using the current containerise version. Would you be willing to share the CSV values?

[2019-09-03 09:50] LoveIsGrief opened #85 "Add preference for the default container to be a temporary one"
If the URL or hostname doesn't match, then it should be possible to force those into random, temporary containers.

[2019-09-03 09:58] LoveIsGrief commented on #80
Oh, a question before I get on this @dxlr8r, are you assuming the created container will be destroyed or do you want it to persist?

[2019-09-03 10:01] dxlr8r commented on #80
Good question @LoveIsGrief . I guess it would be ok to destroy them, if no page with that url is no longer open, and if it doesn't have any customisation (added domains, etc.).

[2019-09-03 10:07] LoveIsGrief commented on #80
OK, that makes it quite similar to a temporary container. And another question: what do you expect of subdomains?

For example should `google.com` create a `google.com` container and `mail.google.com` create another? Or should they both resolve to `google.com` and end up in the same container?

[2019-09-03 10:15] dxlr8r commented on #80
Good question. Maybe have that as an option? Personally I think I'd like to have subdomain under the same temporary container as the top domain.

[2019-09-03 11:02] LoveIsGrief commented on #80
OK, I'll have to check how to implement that :) I believe I have all the information now. Should you have more precise thoughts on the matter, Don't hesitate to utter them :slightly_smiling_face: Thanks for the responses.

[2019-09-03 11:09] barneycg commented on #84
I've repeated this on a different machine with a different list of sites.
open the csv editor using the pen in top right of popup :
![image](https://user-images.githubusercontent.com/2004769/64168207-ea904e80-ce42-11e9-80f8-50f064bb42a3.png)
make no changes and click on save :
![image](https://user-images.githubusercontent.com/2004769/64168396-54105d00-ce43-11e9-90ed-ff079014900a.png)
or add a new

[2019-09-03 15:15] LoveIsGrief commented on #84
Ah, ok, I could reproduce your first scenario, but I believe the second is how it should work - you are replacing all rules. I'll fix the first one and let @kintesh decide on what the second should do.

[2019-09-03 15:50] LoveIsGrief commented on #84
Looking at the code, the second scenario always happened because of `Storage.clear`. That isn't new behavior

[2019-09-03 15:58] barneycg commented on #84
Ok you say it always happened but I think I must not have been clear with my description as it doesnt in 3.2.0 as seen here
Before :
![image](https://user-images.githubusercontent.com/2004769/64189179-ab2a2800-ce6b-11e9-90b3-cd951667e865.png)
During (entered but not hit save) :
![image](https://user-images.githubusercontent.com/2004769/64189272-d44ab880-ce6b-11e9-8545-2fbe38484099.png)
after (hit

[2019-09-03 16:08] LoveIsGrief commented on #84
Oh, I misunderstood your second scenario. I thought you replaced the whole input with one line and expected that to be added.

#86 should then fix both scenarios:

1. open CSV editor with existing input --> hit save --> everything stays the same
2. open CSV editor with existing input --> add a line --> old rules stay intact and a new one is added

[2019-09-03 16:13] LoveIsGrief commented on #43
😮 I'll be damned, I reproduce it with `gk test`.

Thanks for the bug report @Reylak ! I'll get on this when I have time

[2019-09-03 21:18] #71 closed

[2019-09-03 22:00] kintesh commented on #84
Thanks to @LoveIsGrief this is now fixed in v3.4.0

[2019-09-03 22:00] #84 closed

[2019-09-03 22:01] kintesh commented on #43
This should be closed. @Reylak Can you please check if everything is working as expected?

[2019-09-04 08:02] Reylak commented on #43
Nice work, it works as expected on this website. Nice catch of this corner case, thank you!

[2019-09-04 08:03] #43 closed

[2019-09-04 08:03] NomDeMorte commented on #82
Well yes I agree, that's exactly my point - you do the function first - at least the design for it - and then you can make an interface to it - and maybe even make it pretty - later. If you try to make it pretty first, then you add functionality, you mess up the 'pretty' and then you have to do that again.... and more work for the same result, is bad, right?

The idea isn't to wait for people to d

[2019-09-04 15:47] OdinGitDat opened #89 "Endless loop between container and no container since 3.4.0"
I have my rules set up where some domains are sent to specific containers, everything that doesn't match a rule is opened without a container, e.g:
[code]
Now if I open a link from within a google or fb container it used to just open it outside any container. Since 3.4.0 update it goes into a loop where it switches back and forth endlessly.

Opening a fb link from within a google container still w

[2019-09-04 15:51] OdinGitDat commented on #89
I noticed containerise also updated today (sep 4), so maybe that's when the problem started.

[2019-09-04 16:37] Colorfag commented on #89
I've been having the same issue as well today. Took me a bit to figure out it was containerise causing it.

[2019-09-04 20:41] seascape commented on #89
Containerise caused a similar issue maybe two months ago so it was my first suspect, so to speak. Glad to see it confirmed here, thank you.

[2019-09-04 20:52] seascape commented on #85
This is a wonderful feature suggestion.

[2019-09-05 04:36] #38 closed

[2019-09-05 18:26] LoveIsGrief commented on #85
Woops. Just noticed that this is described in #10

[2019-09-05 18:26] #85 closed

[2019-09-06 23:18] #66 closed

[2019-09-08 15:40] LoveIsGrief commented on #10
I'm working on this in #91 . If you have constructive comments on the implementation or would like to lend a hand with the UI (I suck at UI, so don't expect anything), I'm all ears.

[2019-09-10 00:07] mrtootoo commented on #89
I currently have the same issue.  I did not realize it was only happening with sites assigned to No Container until reading this thread.  If I right click the link and select No Container to open in, the link opens as expected.  But if I left click the link, say from within the Email container, the click opens a flickering endless loop tab.  I see above issue is closed, did I miss the fix?

[2019-09-10 07:05] LoveIsGrief commented on #89
Nothing has been closed yet. We're waiting for the fix to be merged and released.

[2019-09-11 20:42] #89 closed

[2019-09-13 12:41] kristofferR opened #93 ""Keep old tabs" should not keep useless tabs (new tab page, temp tabs)"
The "Keep old tabs" functionality is super confusing. It works as it says, but I'd like it to work more intelligently. Zombie temp tabs are left when links are ctrl-clicked. If I open a new empty tab and enter a containerized site it opens a new tab with the page, but still keeps the old useless new tab page.

If I enter a new URL in the address bar, it just opens a new tab with that page instead

[2019-09-13 14:41] LoveIsGrief commented on #93
It came from #14 . I honestly didn't think it was a good idea, hence the preference and not default behavior. Personally, I won't be working on this directly. The next big feature (after default containers) will be exit rules for containers which might include this.

PRs are welcome though.

[2019-09-13 22:53] pard68 opened #94 "Support for not"
It would be great if there was a way to support a `not`.
This would result in *only* opening github in this container and nothing else. If I try to open another link in the container it would force open in a new container or none. So for example I could have a config such as:
[code]

[2019-09-15 02:57] tomose opened #95 "Waterfox + Containerise = undefined"
https://imgur.com/baiBVNh

Yes, Waterfox, not Firefox.

First thing I did was attempt to install containerise. But no matter what version I grab it's always undefined.

I notice now in my current profile which still has it working, that I am unable to customize categories anymore.

If this is something inherent to WF that is unfixable on your end, I will understand and seek out the WF dev. But all

[2019-09-15 15:48] LoveIsGrief commented on #95
1. Does Waterfox support containers?

2. Does waterfox also have a browser console (Ctrl+Shift+J)? It might be throwing an exception which can be seen there.

I'm just a contributor, but I doubt support for anything but firefox can be provided at the time. If someone in the community has the time, they are welcome to take a shot at this

[2019-09-15 15:49] LoveIsGrief commented on #94
I believe #91 would solve that for you

[2019-09-15 18:58] tomose commented on #95
https://imgur.com/a/iLhcMdT

[2019-09-15 19:34] LoveIsGrief commented on #95
Waterfox doesn't support containers or doesn't have an API for it seems. This extension won't work with it. Sorry.

[2019-09-15 19:34] #95 closed

[2019-09-15 22:16] tomose commented on #95
@LoveIsGrief

Found this: https://www.reddit.com/r/waterfox/comments/aj5cin/multiaccount_container_addon_incompatible_with/eri5tg5/

Seems to have resolved the lack of config options in preferences and now Containerise seems to work on a new profile.

[2019-09-16 22:13] NomDeMorte commented on #82
This keeps happening:

Which is why this will keep happening.:

You know that old saying, about repeating the same thing, and expecting different results?
Time to learn from that. I'm out.

[2019-09-17 09:38] LoveIsGrief opened #96 "Add preference to activate debug logs"
When users report errors, it would be useful for them to be able to screenshot or copy debug logs to help with reproducing the error.

[2019-09-17 10:01] LoveIsGrief opened #97 "Add issue templates"
[Github supports issue templates](https://help.github.com/en/articles/about-issue-and-pull-request-templates). To help with organization and to guide the user to provide the minimum amount of necessary information, it would be helpful to introduce them.

Bug reports should at least contain:
 - Steps to reproduce
 - Expected results
 - What actually happen

Additional instructions could be to get d

[2019-09-23 16:45] avelino opened #98 "Multi-Account Containers rules sync"
The rules created in the plugin  **"Multi-Account Containers"** does not appear in the  **"containerise"** interface

| [Multi-Account Containers](https://github.com/mozilla/multi-account-containers) (by @mozilla) | Containerise (this repo by @kintesh) |
| --- | --- |
| ![Screen Shot 2019-09-23 at 13 37 30](https://user-images.githubusercontent.com/31996/65445181-04043500-de08-11e9-8867-62ef09fe56

[2019-09-23 16:53] LoveIsGrief commented on #98
This isn't a bug. It's how extensions work. Extension A can't randomly access extension B's data. That would otherwise be a huge privacy concern.

For this to work, Multi-Account Containers needs to provide a communication interface (programmatic) from which the rules can be retrieved. Is this a feature request?

[2019-09-23 16:56] avelino commented on #98
is request for feature

[2019-09-23 17:07] LoveIsGrief commented on #98
OK. Then it depends on at least https://github.com/mozilla/multi-account-containers/issues/1282. But that's been open for a year now.

[2019-09-26 20:13] sojusnik opened #99 "Connection timeout with other add-on"
I plan to use the [Kanbanly](https://addons.mozilla.org/de/firefox/addon/kanbanly/) add-on (to manage my Google Tasks as a Kanban), but can't get through the authentification process, because Containerise automatically opens the Google authentification window in my configured Google container. It seems that Kanbanly can't access this Google container and therefore gives me a connection timeout.

A

[2019-09-27 08:47] LoveIsGrief commented on #99
Unfortunately, this is a problem with [Firefox Multi-Account Containers](https://addons.mozilla.org/en-US/firefox/addon/multi-account-containers/) too and they don't have a solution either. [Temporary Containers](https://addons.mozilla.org/en-US/firefox/addon/temporary-containers/) provides an API, but every extension would have to be aware of it and use it.

Firefox would need to provide a method

[2019-10-02 14:55] bdmorin opened #100 "getting settings from old profile"
I had to do a profile reset, and lost all my (extensive) containerise settings. I have a firefox sync profile, but apparently the settings don't sync. I have my old sqlite file from my old profile, I tried to import and use it, and did all kinds of sqlite3 browsing, but I could not for the life of me get my old settings back.

The sqlite file that has the settings stores it in a blob I can't seem

[2019-10-02 17:39] mrtootoo commented on #89
I still experience an endless loop between container and no container when left clicking on a link assigned to "No container".  I probably don't understand this thread, but has a fix been released or still in the works?

[2019-10-02 22:49] LoveIsGrief commented on #100
Do you have a backup of the profile? If you do, then you can use the CSV editor
![afbeelding](https://user-images.githubusercontent.com/2829538/66087322-5d423600-e577-11e9-81ee-8dd8775b0cb8.png)
 to backup your config.

Otherwise, I wouldn't know how it's stored. That's internal to firefox.Maybe they have documentation somewhere.

[2019-10-02 22:51] LoveIsGrief commented on #89
A new version exists, but it doesn't seem to have been released. Gotta wait on @kintesh to do so.

[2019-10-08 18:03] #10 closed

[2019-10-08 18:03] #80 closed

[2019-10-09 02:52] tomose opened #101 "Latest update breaks it completely on Waterfox"
I've reverted to 3.4 and disabled updates and things are working fine now.

Clicking the containerise icon brings up a blank list of containers and a little loading bar that never stops.

If you choose to test this you will need to change these settings in about:config to get containers enabled on WF: https://www.reddit.com/r/waterfox/comments/aj5cin/multiaccount_container_addon_incompatible_with/

[2019-10-09 06:12] Nepherte opened #102 "Browsing sites bound to No Container open up in new tabs"
As of version 3.5.0, when browsing sites that are bound to "No Container", will open up a new tab every time instead of staying within that tab.

E.g. github.com as the only rule stored under No Domain. Going from one github page to the other, triggers the creation of a new tab every time (and closes the old tab if configured it as such under settings). Browsing sites for which no rule exist (not

[2019-10-09 10:45] LoveIsGrief commented on #102
I can't reproduce your issue.

Could you post a the relevant rules and a screenshot of your settings? Have you activated default containers?

[2019-10-09 10:51] LoveIsGrief commented on #101
Hi,

Could you:

 - Open the browser console (Ctrl+Shift+J), clear the logs (little :wastebasket:   top left)
 - Click the containerise icon
 - Post a screenshot of the browser console?

[2019-10-09 14:53] Nepherte commented on #102
Settings:
<img width="516" alt="Screenshot 2019-10-09 at 22 48 52" src="https://user-images.githubusercontent.com/55176/66492434-fc6eac80-eae6-11e9-97c6-38e6d7b6d970.png">

Rules:
`github.com , No Container`

Steps to reproduce:
1. Open github.com
2. Click on 'Enterprise' in the link
=> Actual: the current tab gets closed, a new tab opens with the new url
=> Expected: new url opens in the active t

[2019-10-09 15:49] tomose commented on #101
TypeError: browser.contextualIdentities.onRemoved is undefined  index.js:1:4665

[2019-10-10 03:12] Nepherte opened #103 "Open unmatched URL in default container doesn't work with local html files"
When enabling the setting "open unmatched URL in a default container", I am no longer able to open html files locally available on my machine (ie. file:///path/to/my/file.html).

It initially opens up in Firefox in No Container, subsequently closes the tab (expected), but doesn't open the file in a new tab within the configured default container.

[2019-10-10 14:03] LoveIsGrief commented on #103
Thanks for the bug report. Was able to reproduce this with default containers as well as older versions that matched `file://` URLs.

[`tabs.create`](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/create) simply doesn't support those type of URLs.

They'll simply have to be ignored.

[2019-10-10 14:08] Nepherte commented on #103
In my case, I dont want to bind them to a specific container so I don't mind them being in "No Container"

[2019-10-10 14:13] LoveIsGrief commented on #103
We can't reassign / reopen tabs with `file://` URLs at all due to the webextension API refusing to do that. The PR will exclude such URLs completely from treatment. Unfortunately, the user will have to do the work of reopening the tab in the wished container themselves

[2019-10-10 14:14] Nepherte commented on #103
That's an acceptable solution. No worries.

[2019-10-10 14:20] LoveIsGrief commented on #101
Hmm... without that temporary containers would need a fallback to periodically testing if any tabs are still open in a container :slightly_frowning_face: (right now the test is done when a tab closes).

I'll label this as "help wanted" since I don't use waterfox myself.

[2019-10-10 14:37] LoveIsGrief commented on #102
Thanks for the step! I was able to reproduce it.

[2019-10-10 15:15] Nepherte opened #106 "Provide an option to use No Container as the default container"
Note: More a feature request than anything else.

Before v3.5 I've specified a bunch of rules for frequently visited sites to break out of an existing container and fall back to "No Container". What I truly intended is for any site that doesn't have a rule, to break out of a container.

Starting with v3.5 I can use the "Default Container" option to break out of any other container if the domain do

[2019-10-11 10:16] LoveIsGrief commented on #106
You are able to use "No Container" as the default container. Just use that name in the preferences.

I'll need to add a user documentation page on default containers. But if the above doesn't solve your problem could you have a look at [this](https://github.com/kintesh/containerise/pull/91) for now and see if variables solve your problem.

You can easily use "{host}" as the name of the default con

[2019-10-11 11:52] Nepherte commented on #106
Using "No Container" seems to work for me, so that's exactly what I was asking for :) It wasn't very clear from a ui perspective though (of lesser importance to me).

[2019-10-11 11:52] #106 closed

[2019-10-11 21:08] #103 closed

[2019-10-12 21:22] #102 closed

[2019-10-12 21:32] #44 closed

[2019-10-22 19:09] sungerbob commented on #64
Looks like it's fixed with "Match domain only" option in addon's preference.

[2019-10-22 19:09] #64 closed

[2019-10-23 05:17] sungerbob commented on #64
Yeah, I'm having exactly same problem as you described. I'm looking forward to next release :)

[2019-10-26 15:24] OdinGitDat commented on #102
Can this fix be pushed to release asap? I've been waiting to update since #89

[2019-10-26 16:42] kintesh commented on #102
@OdinGitDat just released!

[2019-10-26 18:04] OdinGitDat commented on #94
Alternatively, you can use this rule that I prefer:
`@.* , No Container`

[2019-10-28 03:14] p-rintz opened #111 "Regex broken"
Hello,

regex support seems completely broken for me.
Even the most simple:
`.?example.com , Test`
does not work.
The tabs are not being loaded in the containers that I specified.

The example regex in the readme also does not work.
`@.+\.amazon\.co\.uk$, Shopping`
Tested in Firefox 69 and 70, with all other addons disabled and also with only Containerise, Temporary Containers and MAC enabled.

OS

[2019-10-28 07:42] LoveIsGrief commented on #111
Hi,

Have you prefixed your expression with @?

[2019-10-28 08:00] p-rintz commented on #111
I copied the regex from the example verbatim, so including the @ as well.

It just started working again though as I tried again. Im honestly rather confused why it didnt work before. I didnt really change anything concerning containers in the last hours.

Guess this can be closed.

[2019-10-28 08:00] #111 closed

[2019-10-29 14:25] pard68 commented on #94
This works wonderfully @OdinGitDat. It works exactly as I had thought, opens in no container. Thanks!

Don't see a reason this needs to be worked on any further @LoveIsGrief. I can make a PR to update the documentation to highlight this though since it's probably useful to others.

[2019-10-29 15:12] LoveIsGrief commented on #94
sure, go ahead @pard68

If it's a preference you want to document, you'll need to add the `docUrl` attribute to the [`preferences.json`](https://github.com/kintesh/containerise/blob/master/src/ui-preferences/preferences.json#L20) and a markdown file in [docs/ui-preferences](https://github.com/kintesh/containerise/tree/master/docs/ui-preferences).
The code and webpack will take care of the rest.

O

[2019-10-31 03:01] Radagast opened #112 "Container lifetime and local storege?"
When setting preferences for a container to Lifetime = Until the last tab is closed, what data is supposed to be removed after the last tab has been closed. For me, it's only cookies that are removed. I still see indexeddb/local storage.

Firefox 70
Linux.

[2019-10-31 09:30] LoveIsGrief commented on #112
Hi @Radagast

How are you seeing and verifying that?

I haven't been able to make heads or tails from the "Storage" tab in the dev console. I can't say if anything of value is stored there.

But to answer your question: as the feature indicates the **container** is removed. There's no extra work done, because we rely on firefox to actually cleanup after itself when a container is destroyed.
The re

[2019-10-31 12:51] Radagast commented on #112
1. Create a container for youtube

2. Modify the preferences for the container so that when the lifetime= last tab closed

3. Open youtube tab and confirm it's using the container

4. Check preferences/Privacy&Security/manage Data

5. See both Cookies and Storage have entries for youtube

6. Delete the youtube tab

7 Check preferences/Privacy&Security/manage Data

8. Cookies have been removed but

[2019-11-02 16:51] stoically commented on #112
Unfortunately it's a known Firefox issue that container storage isn't always removed completely, see [Bugzilla 1474608](https://bugzilla.mozilla.org/show_bug.cgi?id=1474608). However, the data isn't accessible by the browser since the container id (cookieStoreId) changes.

[2019-11-03 06:07] Radagast commented on #112
@stoically

Thanks for that. I'd noticed similar behaviour with Temporary Containers but for some reason hadn't connected the dots.

[2019-11-05 00:21] LoveIsGrief commented on #112
I guess we can close this then since it's internal to firefox

[2019-11-05 00:21] #112 closed

[2019-11-08 14:07] KnightTim opened #113 "Add ability to ignore tabs (to prevent infinite loops)"
If you use a container add-on like Mozilla's [Facebook Container](https://addons.mozilla.org/en-US/firefox/addon/facebook-container/) or one of the many forks, this add-on will fight with it. The tab will open and close infinitely.

To reproduce this:

- Install this add-on and facebook container
- In settings for this add-on enable "Default container"
- Disable "Keep old tabs" (if you leave it en

[2019-11-09 02:16] pard68 commented on #94
Actually, this isn't working any longer. It keeps opening all sites in No Container now. Not sure what changed, other than `@.* , No Container` was at the bottom of my list and now, on save, it jumps to the top. I am assuming that it's reading from the top, finds a valid container and stops going any further.

Only difference between when I said it worked and when I didn't is I had tested it on a

[2019-11-09 08:35] LoveIsGrief commented on #94
@pard68 have you tried default containers yet? Check the extension preferences.

[2019-11-09 16:24] OdinGitDat commented on #94
I noticed too, it works only if you use regex for **all** your filters because it takes preference over the other types of filters now. I'll put a snippet of my rules here as an example of how you can make it work again.

[code]

[2019-11-09 17:18] LoveIsGrief commented on #94
@OdinGitDat Just name it "No Container"

[2019-11-09 19:02] OdinGitDat commented on #94
Thanks, that works. Guess my regex is obsolete then.

[2019-11-09 20:00] LoveIsGrief commented on #94
No problem.

I'll close it. If @pard68 has a different opinion, I'll re-open.

P.S PRs for improving the documentation or defaults are welcome

[2019-11-09 20:00] #94 closed

[2019-11-20 09:29] Zae opened #114 "better documentation for path rules"
Hi,

I've tried to get this to work using a path, but somehow I'm failing. I just can't get containerise to open my links in a container I choose.

I want urls that follow this pattern to open in their own container:

https://sub.example.com/browse/service-*

I tried the glob matcher with ! and the regex matcher with @ but the container never opens, I have no idea what i'm doing wrong as there is

[2019-12-03 18:13] mrtootoo opened #115 "Sites assigned to “No Container” open in different container"
I am not sure if this is a bug or configuration issue.  I also have “Temporary Containers” enabled.  The sites I have assigned to “No Container” open in the current container vice “No Container”.  I don't recall having this issue when I first configured Containerise.  I do not have this issue with my other sites assigned to named containers.

[2019-12-04 11:40] sojusnik commented on #106
Would really appreciate that, because it's still not mentioned in the documentation when clicking on the question mark to the right of "default container" in the add-on's settings.

[2019-12-05 13:14] lorenzleutgeb commented on #24
I am in a similar situation: Using one web service with two identities, where each identity is associated with one container but there is no filter to discriminate between them available.

My idea would be to implement a "chooser" in this case. Say I want to use "app.example.com" from container "A" and "B", then I would want to do the following.

Add a line to my config:
[code]

Since there are mu

[2019-12-08 13:44] LoveIsGrief commented on #106
PR welcome. I won't be able to get around to this for a while

[2019-12-13 22:45] Hout commented on #113
:+1:

[2019-12-22 23:38] AeliusSaionji commented on #114
I'm also a bit confused, on a much simpler level.

The READEME states that you define a glob with `!*.example.com`, but in my own testing I have found `*.example.com` works just fine. What is the `!` for?

The READEME _doesn't_ mention that matching is incredibly relaxed.
`example.com` matches `www.example.com`
`*.example.com` matches `example.com`
I don't know if that's an undocumented convenienc

[2019-12-23 17:54] LoveIsGrief commented on #113
I feel like I'm missing something here. Isn't that just the equivalent of not adding those rules to containerise?

[2019-12-23 18:00] KnightTim commented on #113
If you enable "Default Container" every tab you open is acted on. Even tabs that have no rules.

[2019-12-23 18:18] LoveIsGrief commented on #113
Ah, that's what I missed.

[2020-01-05 17:58] sungerbob opened #116 "Doesn't redirect rules before main domain when match domain option enabled"
Hey, @LoveIsGrief thank you for adding "Match domain" option.
It doesn't redirects with Match domain option when following rules set.
[code]
I mean any rules that set before main domain didn't redirect. I can fix it with changing rules to
[code]
Here's a gif that I recorded.
![1233](https://user-images.githubusercontent.com/31207969/71783867-c0af8a00-2fe4-11ea-8dee-cb536032c334.gif)

It doesn't bi

[2020-01-06 10:24] LoveIsGrief commented on #116
Hi,

Could you please post all your rules? I see you created the "Default Container" container which is being used when "Match domain" is activated.

Thanks for taking the time to report the issue and for the gif!  :slightly_smiling_face:

[2020-01-06 14:35] sungerbob commented on #116
Hi, thank you for your kindness :)
I tried with following rules for gif. Other containers (google, reddit, etc.) is empty.
[code]

[2020-01-12 07:01] xrad opened #117 "Rule depending on bookmarks"
I'm currently moving from Chrome to FF. To (kind-of) match Chrome/Google profiles, I use FF containers. I have also imported bookmarks from different Chrome/Google profiles into different bookmark hierarchies. Can (could?) Containerise open a URL in a specific Container based on the location in the bookmarks tree? What about duplicate entries? Or am I using all this the wrong way?

[2020-01-12 15:20] LoveIsGrief commented on #117
Hi, that isn't how Containerise works. I'm not against it, but I'm not entirely sure how it would work.

 - Would the URL directly match a bookmark or would it match the domain?
 - Duplicate bookmarks would open in whichever container matched first

Could you explain why you'd like it to work this way?

[2020-01-12 15:34] xrad commented on #117
Yeah I'm not sure either. :) Maybe I'm just too much focused on the bookmarks side of things.

Previously I've been using Chrome with different Google profiles. Each profile ran in a different window. Each had it's own set of bookmarks. So my thinking was to simply to try tying bookmarks to FF containers.

I've played around a bit more now and I now use the Sticky Window Containers Add-On which mo

[2020-01-12 15:34] #117 closed

[2020-01-15 14:30] freewill404 commented on #113
Any updates on this? :)

[2020-01-15 15:00] LoveIsGrief commented on #113
I'm working on other projects, but PRs are welcome

[2020-01-17 08:45] stueja opened #118 "Question: paying via Paypal behaviour"
First off, thank you very much for this extension. It gives me a good feeling of who can see my cookies etc.

I had a bill to pay via Paypal. The billing website was in the "Personal" container, the Paypal website in configured to open in the "Shopping" container.

When I clicked on the Paypal link in the Personal container, Paypal opened in the Shopping container. This is, as far as I understand

[2020-01-17 23:46] LoveIsGrief commented on #118
For things like these, I just use private windows as a workaround.

I believe this can be fixed when #53 is implemented and such, it's a duplicate.

[2020-01-17 23:46] #118 closed

[2020-01-19 23:13] WhiteSp1rit commented on #114
Yeah I'd also like a better documentation on the rules.

Indicates the type of rules that apply. ! for global rules, @ for regex.
There are also simple rules, which as far as I tested don't work at all.

[2020-02-15 22:45] bburky opened #119 "Default container {domain} pattern is broken for IP addresses"
The "domain" from the URL http://192.168.2.1 is parsed as just "2" when using a Default Container pattern of `{domain}`.

If possible, use the full IP address if the hostname is detected to be an IP address.

[2020-02-20 02:11] archetyped opened #120 "Rules do not work with URLs containing uppercase characters"
Rules do not match URLs containing uppercase characters.

This appears to be because all rules are converted to lowercase, and then are tested in a case-sensitive manner:

[code]

Unfortunately, users don't have control over the URLs used in links, etc. so if a URL contains uppercase characters where a rule's pattern depends on, the rule will not match it.

### Example

* URL: `https://signin.ebay

[2020-02-23 21:14] madduck commented on #59
The "default containers" feature, with a container name such as `t{ms}` goes part of the way here. The problem now is that *every link* I click will result in a new container. I could use the `{domain}` variable instead of `{ms}`, but it's also not that easy.

I think if #53 were solved, then this would be done, i.e. while I am in a container, I just stay in a container, but only when I open a new

[2020-02-27 15:49] Sazpaimon commented on #120
I also experienced this, and as a lazy workaround, I simply replaced the uppercase character with the ascii hex code. So your example regex would become:
`https?:\/{2}signin\.ebay\.com\/.+\x41pp\x4eame=\x49mpact\x45\x50-\x45\x50\x4e.*`
Far from ideal, though

[2020-02-29 07:30] archetyped commented on #120
Thanks for the hack @Sazpaimon.

[2020-03-07 11:45] c33s commented on #101
not sure if the `Cannot send function call result` call is also from this addon, its not triggered all the time so i assume its not directly connected to this addon.

`TypeError: browser.contextualIdentities.onRemoved is undefined` and `Error: WebExtension context not found!` are always triggered on my machine by clicking on the addons icon.
[code]

![2020-03-07 12_37_20- #  about_config - Waterfo

[2020-03-16 21:01] CrafterLaughter opened #121 "Syntax to Assign Multiple Domains to Same Container?"
Forgive my ignorance.  I daily use a site that uses single sign on and its control panel page is on a separate domain from its primary domain.  Is this possible?  If so, what is the correct syntax?

I tried the following thus far without success.

!*.domain1.com, !*.domain2.com , UniqueSingleSignOnContainerXYZ
!*.domain1.com,!*.domain2.com , UniqueSingleSignOnContainerXYZ
!*.domain1.com; !*.domain

[2020-03-21 09:31] LoveIsGrief commented on #121
Hmm.. don't you have the ![icon](https://github.com/kintesh/containerise/blob/master/static/icons/icon.png) ? If you click on it, you won't need to edit the lines. Just click on the "+" and add the other website.

[2020-03-21 20:42] CrafterLaughter commented on #121
@LoveIsGrief  Your suggestion helped me think differently.  Many thanks.

I had been just using containerise by always using the CSV editor but then realized the container dropdown in the top of the GUI which reminded me that's one way multiple domains could be added to the same container that way.

That made me realize I just need to use the same syntax in the CSV file but just make a point of re

[2020-03-22 11:27] LoveIsGrief commented on #121
I'm glad you figured it out :+1:

Have a nice day :slightly_smiling_face:

[2020-03-22 11:27] #121 closed

[2020-03-23 16:42] CrafterLaughter opened #122 "Manual Entry of Container Name via Button or From GUI Dropdown Menu"
Feature enhancement, Preference.

I understand Firefox about:preferences#containers allows creation of containers.  However, I have a few dozen containers thus far and it's a bit tedious to launch that tab, scroll to the bottom, add container, then go to the containerize button, scroll to the bottom of the containers list (which makes the autopopulated !*.domain.com disappear) and manually input t

[2020-03-23 16:55] CrafterLaughter opened #123 "Correct Syntax for Default Containers to Not Override Existing Entries in the CSV File?"
Brilliant work with https://github.com/kintesh/containerise/pull/91

In testing out the default container function using the variable {domain} for container name without any rule additions.  Prior to that I already had the following rule in my CSV file.  !*.github.com , GitHub

With the default container function enabled as described, a new container launched for github as a result of the default

[2020-04-02 11:43] rcorrear commented on #30
Was there ever a consensus about this? I started using this extension recently and I'd like to have this feature as I move between computers regularly (I could contribute code as well if there's a consensus on what to do).

[2020-04-02 16:17] LoveIsGrief commented on #30
@rcorrear
I don't think so, but I'd say if you find a solution that works for sync users and non-sync users (like me), just create a pull-request and @kintesh might have a look at it. I'll surely have a look at it too, since the implementation would be interesting.

It would most likely be necessary to modify the Storage wrapper to use the correct instance depending on a user setting.

[2020-04-02 16:20] #31 closed

[2020-04-02 16:32] LoveIsGrief commented on #122
Hi,

I'm glad you're benefiting from the project. This request looks interesting and it's something I would use myself, so there's a better chance I'll take a stab at it. Of course if you write code yourself, you're welcome to contribute.

To anybody else who'd like to implement this, please add the functionality (or make the implementation able to be easily extended) to edit an existing container

[2020-04-02 16:36] LoveIsGrief commented on #123
Hello again :slightly_smiling_face:

This looks more like a bug. It should be resolving to the existing Github container and only fallback to a default container when the former is unsuccessful.

[2020-04-02 17:28] CrafterLaughter commented on #123
I'm pretty sure I made a foolish error and mistakenly had "match domain only" activated along with "default container."

I just tested three domains again with "match domain only" deselected and it appears to work great.  Sorry for the distraction.  I gather it was coded perfectly.  Kind Regards.

[2020-04-05 12:16] LoveIsGrief commented on #115
Sorry for the late answer, but I assume you're still experiencing the issue. Could you provide more information in order for me to recreate it? These would be necessary:

 - the affected rules
 - a screenshot of your settings

[2020-04-05 13:37] mrtootoo commented on #115
Thanks for responding.  I have not experienced this issue lately.

[2020-04-05 14:04] LoveIsGrief commented on #115
Alright, then I'll close this issue for now.

Have a nice Sunday.

[2020-04-05 14:04] #115 closed

[2020-04-09 22:13] junkblocker opened #127 "Matching more than just host/domain?"
A rule of

[code]

makes

[code]

match the `gov` container.

[2020-04-12 14:21] LoveIsGrief commented on #127
Have you tried setting the "Match domain only" preference?
![preference](https://user-images.githubusercontent.com/2829538/79071032-a23ee600-7cd9-11ea-8fb0-440a5ea44c00.png)

[2020-04-12 15:02] junkblocker commented on #127
That works. I'd say that should be the default since every other tools in the world works like that. But anyway, maybe the examples should also make it clearer that it is not the default as all rules shown only operate in domain matching mode.

[2020-04-12 15:02] #127 closed

[2020-04-14 16:01] Solid-Ice8 opened #129 "Container Tabs error"
Containerise Version: 3.7.0
Operating System: Windows 10 Enterprise (1909), 64-bit

Add-on's Info (Enable/Disabled):

Amazon.co.uk	1.1	true	amazon@search.mozilla.org
Amazon.com	1.1	true	amazondotcom@search.mozilla.org
Bing	1.1	true	bing@search.mozilla.org
Containerise	3.7.0	true	containerise@kinte.sh
DuckDuckGo	1.0	true	ddg@search.mozilla.org
eBay	1.0	true	ebay@search.mozilla.org
Firefox Multi-Acc

[2020-04-14 22:16] LoveIsGrief commented on #129
Hi,

another solution would be to use the [multi account container API](https://github.com/mozilla/multi-account-containers/wiki/API) and check whether the URL has been assigned to a container there.

Otherwise, this is a dupe of #53

[2020-04-15 00:32] Solid-Ice8 commented on #129
The issue I'm having is different from the one stated in #53. In that issue's case; Multi Account Container alone is enough to solve that issue. With that add-on, you can log into more than 2 accounts on any website as long as you don't assign them to a specific container tab.

You may have any 3 identical container tabs.

Example:
Twitter1 - Gift - Green
Twitter2 - Vacation - Blue
Twitter3 - Glas

[2020-04-19 10:03] StuartMacKay commented on #82
It's important the you think about who this add-on is for. If you look at the discussion on the Multi-account Containers, https://github.com/mozilla/multi-account-containers/issues/473 then it's clear that they are dragging their feet on allowing sub-domains and it's probably never going to be implemented because "think of the users!". The ux is driving the add-on so functionality and even purpose

[2020-04-24 15:23] Larrik commented on #40
Honestly, I think the rules should just be changed immediately (onblur), rather than with a separate "save" action.

[2020-04-25 20:35] Solid-Ice8 commented on #122
You can always open File in menu bar (Alt+F) > 'New Container Tab' (press "B') >'Manage Containers' ('Press 'O'). Even if you have hundreds of Containers, I'm sure you can still go there, and then press "End" to go directly at the bottom of the page. And if that's too far well, I'm sure you won't need me to explain how to go back up right?

All these in brackets are keyboard shortcuts.

[2020-04-25 21:10] LoveIsGrief commented on #122
Once #128 is merged, this issue will be resolved.

[2020-05-08 00:25] madduck opened #131 "Use backreferences in container names"
I am trying to isolate all the various Slack workspaces I'm being forced to use. Unfortunately, they all redirect to the same domain (`app.slack.com`), and so I was wondering if it couldn't be possible to do something like
[code]
i.e. use a backreference to name the container to be used?

[2020-05-09 10:45] LoveIsGrief commented on #131
Sounds reasonable. I'm swamped with other projects, but it'd be nice if someone had a stab at this.

[2020-05-16 15:02] real-or-random opened #132 "Makes pinned tabs unpinned"
- Open a pinned tab
 -  Open a domain in it with a rule

Actual: The tab is reopened as an unpinned tab
Actual: The tab is reopened as a pinned tab

I have to admit that this seems like an uncommon case but I'm using this together with the "PersisentPin" extension (https://github.com/Faerbit/persistentpin-webextension), which opens a few pinned tabs when the browser starts. Then containerise kicks

[2020-06-11 12:54] sharethewisdom commented on #33
I would opt-in for auto-syncing a public list that can be amended to or overwritten by a user list. I can imagine that such lists could be semi-automatically generated in the future based on extended/revocation certs (or wikipedia). I actually like both the idea of company containers as well as the usual categories (work shopping banking personal). I like the four color-coded tab indicators, but I

[2020-07-02 14:13] contactlp opened #134 "Does this extension help improve privacy, if yes can you please add discription"
Does this extension help improve privacy/security ?
If yes can you please add description how it helps at
1. https://addons.mozilla.org/en-US/firefox/addon/containerise/
2. https://github.com/kintesh/containerise/blob/master/README.md

[2020-07-07 03:41] NudeSpoons commented on #24
Seems like a neat solution to a recurring issue.

@kintesh Is this achievable?

[2020-07-12 07:24] k4n30 commented on #30
Worth taking into consideration - https://blog.mozilla.org/addons/2020/07/09/changes-to-storage-sync-in-firefox-79/

[2020-07-15 17:35] rcorrear commented on #30
Just FYI, I decided not to work on this as Conex actually fits my needs better with the "ask in which container to open external links" option enabled.

[2020-07-17 21:05] OmenWild commented on #30
I am still sticking with Containerise, and would love to have sync'd storage.

[2020-07-19 13:20] Shpigorx opened #135 "Temp containers and ghost rules?"
There is option to save container until last tab is closed. But for what? Looks like temp containers (exists such addons), but no way to create them from addon. If I specify rule: _reddit_ to _temp container_ with destroying at the last tab, rule will gone with that container. No rule for reddit now.
I need to create new container, then go to addon settings and turn on that option. Autodestroy fea

[2020-08-05 15:31] Slater91 opened #136 "Filtering by domain does not work with YouTube/Google"
Containerise Version: 3.7.0
Operating System: KDE neon (Ubuntu-based), 64-bit
Firefox Version: 79.0

Steps to reproduce:
- create a YouTube container;
- set containerise to open "www.youtube.com" and "*.youtube.com" in that container;
- try logging in on Google outside of that container.

Actual behaviour:
I set up Containerise to always open YouTube pages in a specific container - let's call it t

[2020-09-01 09:44] sungerbob commented on #116
Actually you can use

Rule to fix this issue @LoveIsGrief

Btw, I saw your repo. I hope your effort will be merged soon 😊

[2020-09-01 15:51] #116 closed

[2020-09-10 13:50] go2null commented on #15
related to https://github.com/kintesh/containerise/issues/30

[2020-09-10 13:56] go2null commented on #13
related to #24

[2020-09-10 13:57] go2null commented on #53
related to #24

[2020-09-10 13:59] go2null commented on #59
@madduck

I use `{domain}.tmp` as my *Default Container*.  What is the issue with using that?

[2020-09-10 14:04] go2null commented on #33
public lists, syncing, and management are already used in ad-blockers.
take a look at [uBlock Origin](https://github.com/gorhill/uBlock)

[2020-09-10 14:06] go2null commented on #60
related to #129

[2020-09-11 11:53] indivisible opened #137 "Glob syntax is bad"
I've noticed that glob rules suffer from some  problems:

1. they are not properly escaped before being turned into regexes. `.`, and every other special character, should be escaped.
2. the `?` symbol in globs matches exactly one unspecified character, [not 1 or zero](https://github.com/kintesh/containerise/blob/96f141494e7c9171bd77ee0249433f22e0e2e907/src/utils.js#L98) (so should be translated t

[2020-09-21 12:37] madduck commented on #59
The issue with that, @go2null, is that some websites span domains, and break if these domains are put into different containers. As such, this is related to #33.

[2020-09-27 15:30] robertl87 commented on #30
The possibility to export a plain text list is indeed a very nice feature to export it to another computer, but I'd like to do it automatically (by ff sync or having the possibility to backup a file in my PC's appdata dir or something).

[2020-10-23 12:46] go2null commented on #93
this is what prevents me from using the *Keep old tabs* option - as it lead to too much manual cleaning up.

[2020-11-02 14:34] jerkstorecaller opened #138 "Some sites loading correctly in container, others don't"
I have a single container, and 2 sites registered in it for Containerise.
![image](https://user-images.githubusercontent.com/58572326/97879719-52178780-1cee-11eb-8618-65144375a1bb.png)

Starting from a default new Firefox tab (no container selected), if I open the 1st site, it correctly uses the 'soccer' container.
If I use the 2nd site, it doesn't.

![image](https://user-images.githubusercontent.

[2020-11-03 11:50] edwardgalligan commented on #98
Quick hack for anyone wanting to do this manually in the interim https://gist.github.com/edwardgalligan/3d07875753ac6fa79a191a0d5ccbfe5a

[2020-11-07 18:56] #132 closed

[2020-11-10 17:55] MikeRixWolfe opened #140 "Set Default Container color and icon"
It would be really nice to be able to set a default container color and icon, especially for the default container, I don't like how it's a random color every time

[2020-11-12 09:31] switz commented on #93
Yeah, this is relatively easily fixable UX. I'm happy to implement this if we get confirmation it'll be merged.

[2020-11-13 13:17] Milor123 opened #141 "Nothing Work in some Sites (Several BUGS)"
### Simply the containerise works when it want!

#### What do try?

- Dont work in Amazon, Mercadolibre when try using _REGEX_,
- Dont work in Amazon, Mercadolibre without _REGEX_ only press **"+"**
- The same Problem for Alibaba and Aliexpress, but in this sites can use **"+"** buttom and works.

- [x] I've tried the same using the feature "Match Domain only" BUT **nothing work**

**This Addon ha

[2020-11-20 01:06] diego898 opened #142 "Limit containers to **only** certain domains"
I can add rules to make domains always open in their container, but how can I make it so that only those urls open in that container?

For example, I only want google urls in the google container

[2020-11-22 18:35] AntonMega opened #143 "Tab opened in "No Container" is closing the container tab."
Hello,

It is my first Issue reported, so please be gentle.

**Configuration**: default container: checked, No Container

When you are opening a site assigned to container (for example. google.com), and you are clicking at search result - it closes the Google container tab and open a site in No Container. This way you can not go back onto your search, unless you open your desired website from sear

[2020-11-22 18:37] AntonMega commented on #143
Please close, I found the "Old Tab" funcionality.

[2020-11-22 18:37] #143 closed

[2020-12-14 18:34] slconley opened #145 "date variable(s) for naming default container"
Loving containerise so far.  Thanks for creating it!  I wonder if you could add a "date" or similar variable for default container names.  Letting users pick their own date format would be awesome but even something simple that could be used for a daily rollover would be useful.

[2020-12-18 07:32] Drulac commented on #14
Hello,
I can confirm that the issue persists, is there any workaround here :smiley: ?

[2020-12-21 00:58] IAmNotAJerk opened #146 "[Feature Request] Block sites outside container"
There's currently an addon [Block Sites Outside Container](https://addons.mozilla.org/en-US/firefox/addon/block-sites-outside-container/#&gid=1&pid=1) which block domains from working if they were not opening in the right container.
This would be a great way to avoid spill over container leak when hyperlinking browsing through different domain?
But currently, to use that addon with Containerise, t

[2020-12-26 21:04] muzzah commented on #93
@switz I also experience this but Im not sure your change will fix it. I have the default container option enabled and also regex to open google domain in a separate google container. If I am on a google container and then click on a link (which does not match any regex i have setup thus should open a default container linked tab) that opens a new tab, that new tab is still linked to the google co

[2020-12-26 21:18] switz commented on #93
I don't use a default container so that may be an edge case that this doesn't solve.

What is the google redirect page URL? After that intermediate tab is created, open your developer console and type `window.location.href`. What url is it actually?

[2020-12-28 10:08] muzzah commented on #93
When you click the visit site link, it opens a URL in the form of "https://www.google.com/aclk?sa...." in a new tab (So google shopping uses _blank type attribute) as to keep the shopping website open. This then redirects to a new URL which opens in a new default container tab.

You can go to the shopping.google.com website, search for a then click on the visit site link for that product to replic

[2020-12-28 21:39] muzzah commented on #93
ok interesting to note, when I do use the console to check the value you mention, it shows about:blank

[2020-12-29 20:12] switz commented on #93
Great! It should work flawlessly for you then; that's the same as me.

[2021-01-30 08:02] rhclayto opened #147 "'No Container' Default Container Breaks Logging in on Sites That Use HTTP Redirects"
I have the following Containerise rule which containerizes a bank web site into the Banking container:

`!*.somebank.com , Banking`

I also have the Default Container option turned on, with the Container name set as 'No Container'.

The login form is at `https://www.somebank.com`. After submitting credentials, the web site uses a `303 Redirect` HTTP response to redirect to `https://secure.somebank

[2021-01-30 14:01] LoveIsGrief commented on #147
I'm not sure how active the development here is, but I wrote the Default container feature a while ago and somehow still get notifications :/ Anyway, thanks for the detailed report.

The default container should only trigger as a backup when a match hasn't been found

https://github.com/kintesh/containerise/blob/master/src/containers.js#L77

What I'm guessing is actually happening is that there ar

[2021-01-31 00:19] rhclayto commented on #147
Thanks for your response.

In a private window with all extensions disabled & with persistent logging enabled, I fill in the credentials & click the login button on `www.somebank.com`. here is what happens:

1) A POST request to `https://secure.somebank.com/tob/live/usp-core/app/initialLogin` - status 200. That page is a loading page which makes GET requests to a loader GIF, & two javascript files

[2021-01-31 02:22] rhclayto commented on #147
New comment to lessen wall of text effect.

I built the xpi from source with some console.log lines thrown in. I noticed that when clicking the login button, which sends the POST request from step 1 in the previous comment, the hostIdentity variable is undefined, which causes Containerise to think it's going to an unknown URL, so it tries to do it in a default container. It's getting hostIdentity

[2021-01-31 02:49] rhclayto commented on #147
Okay, progress.

I found the code that is causing this, & a change that remedies it. However, I'm not sure if there would be side effects from making the change.

The code is at:

https://github.com/kintesh/containerise/blob/071fb4e30c7ae1c37c65f96e0306ffb4a54e3ca5/src/Storage/HostStorage.js#L11-L22

And the change is:

[code]

The return with OR statement was returning the fallback empty object.

[2021-01-31 03:28] rhclayto commented on #147
Okie dokie! After all that, I found the solution, & it was simply that the bank website was redirecting from `https://www.somebank**bank**.com` to `https://secure.somebank.com`. I simply overlooked that they indeed switched the domain name. Bangs head against wall.

[2021-01-31 03:28] #147 closed

[2021-02-03 15:29] orthand commented on #123
I've recently switched from MAC and TC to Containerise to use the "default container" option and am having some trouble setting up all my containers. The only issue I could find mentioning similar problems was this one, so I hope this gives additional insight as it seems rather close.

What happens:
I add a new entry to the list, open it up in a new tab to log on, close the tab and the entry gets

[2021-02-03 16:04] orthand opened #148 "[Feature Request] Container listing, temporary pause(/open in current container)"
Great work on this, really enjoy using it. Though there's two things I've encountered that made me open up about:preferences more often.

1. To edit containers I either have to head to about:addons to change the "lifetime" or about:preferences#containers for names, colours etc. Is it possible to use the same list under about:addons (instead of the tiles, with options to edit names, colour etc) wit

[2021-02-04 09:25] rhclayto commented on #145
I second that. Being able to set date & time variables in the default container name would be very valuable. Year, month, day, hour minute, second (milliseconds is already there).

[2021-02-04 10:04] rhclayto commented on #112
You can configure the Cookie AutoDelete add on to clean up after closed containers, including cache, IndexedDB, cookies, localStorage, service workers, & plugin data. That way, whenever the last tab in a container is closed, CAD will clean up all the stored data from that container after a configurable delay (or immediately).

[2021-02-05 22:30] #93 closed

[2021-02-05 22:32] #138 closed

[2021-02-12 18:56] rtevans01 opened #149 "Feature Request: Change containers by specific URL instead of the domain only."
Title says it all. It would be nice if we could have more granular control. I often change my container based on the entire URL address. Thanks.

[2021-02-12 22:22] LoveIsGrief commented on #149
What have you tried? It should be already possible.

`addons.mozilla.org/es/firefox , Shopping` for example only containerizes URLs that start with that path while leaving the rest of `addons.mozilla.org` intact.

[2021-02-13 20:19] rtevans01 commented on #149
It doesn't work when changing subreddits on Reddit.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, February 12th, 2021 at 2:22 PM, LoveIsGrief <notifications@github.com> wrote:

[2021-02-19 21:26] lordlimecat commented on #114
Based on the source code (https://github.com/kintesh/containerise/blob/ec227436341fb761a7bdc51477085779e5c6373b/src/utils.js, starting on line 65)....

! activates "globbing":

    // 2. ? becomes .?

@ activates "regex". The first character (the `@`) is stripped, and everything else is passed as a javascript regex. You can test your regex by opening the firefox web console, and doing
`RegExp('you

[2021-02-20 05:00] doobersn opened #150 "Nothing is working. Every site in containerise just loads super fast and continuously."
Got a new laptop and Im not sure what is going on. I did the exact same thing as my old laptop. This time everything just reloads super quickly and infinitely. Thanks!

[2021-02-20 09:20] kintesh commented on #149
Isn't the new Reddit SAP? Need to confirm if extensions can observe url changes via history api.

[2021-02-22 02:36] benyaminl commented on #149
Hello I hereby confirm this also isn't working on my side. I tried to add https://classroom.google.com/c/MjQ2NjYwODE4NDAx* as the link and save it, but it doesn't go to the container when I navigate to that link

[2021-02-22 03:43] #150 closed

[2021-02-22 03:46] doobersn opened #151 "Multi Account Container Interfering With Containerise"
Not sure whats going on. I want to use containerise for *.ebay.com. I have both MAC and Containerise on FF for windows 10 on my laptop. I use it this way on my other laptop and it works fine. Just got a new laptop and im trying to do this and it isnt working. For some reason containerise just continuously reloads any website i add to it and i cant do anything and have to close FF. If I add or remo

[2021-02-26 22:12] donw146 commented on #151
I've run into variations of this problem. The recent 3.9.0 update for leading www. fixed many of them. There still appears to be problems with the !*. pattern matching. Try a regular expression like @.+\\.ebay\\.com$ and see if that helps.

[2021-02-27 09:10] akasaka99 opened #152 "Lost all my rules"
Hi-
After a sudden crash of FF 85 on MacOs (13.6) , I lost all my Container Rules and could not find them even though i used FF sync.
However, I make regular disk backups so I presume I could recover those rules somewhere.
Could someone tell me which are the file(s) that I wuld need to use to recover my rules.
Many thanks !

[2021-02-27 17:19] LoveIsGrief commented on #149
@benyaminl the `*` aren't being interpreted in your rules. https://github.com/kintesh/containerise states this
![image](https://user-images.githubusercontent.com/2829538/109394607-2b79fe00-7928-11eb-92dc-e5eca9fc8f39.png)

You will need to use e.g `!*mjq2njywode4ndax* , STTS` if you want `*` to work. Could you try it with that?

[2021-02-28 06:19] konomikitten opened #153 "CSV Editor Sorting Options"
Could we have some extra options for how the CSV Editor sorts entries? For example **Do not sort** and **Sort by container name** would be great.

[2021-03-01 06:59] benyaminl commented on #149
I tried. It stay on default container. Any other ways?
![image](https://user-images.githubusercontent.com/2817332/109462581-4b2f3480-7a96-11eb-9176-c355e5560f3b.png)
Only domain works.
And the domain settings on addons settings are turned off
![image](https://user-images.githubusercontent.com/2817332/109462617-5c784100-7a96-11eb-859b-cfb23bfaa62f.png)

[2021-03-01 13:00] michaelrigart commented on #152
@akasaka99 : I encountered the same issue 3 days ago ( macOS 11.2.1 BigSur) .  But I was unable to recover the rules so I had to reconfigure then. I'm now keeping a separate csv file just in case this might happen again.

[2021-03-01 13:46] akasaka99 commented on #152
Yes I had to it all over again, its a real pain. I found your could recover the containers in your FF profile in the file containers.json but only the containers not the rules.
Do you mind explaining:
1) What format/column you use for your cvs file: [url, container_name] I presume?
2) Where do you store this cvs file aftwerards (in FF profile) when you want for instance to reinstate back all those

[2021-03-02 09:20] michaelrigart commented on #152
@akasaka99

1. Yes, de csv I'm keeping as a backup is indeed comma separated with url, container_name.
2. I keep the csv file somewhere in my documents folder, not in the FF profile. This way it is present in my own backups.

[2021-03-02 09:50] akasaka99 commented on #152
Yes indeed.
And in case there's another problem with FF, how do you import those data that you saved back into your containers?
Or you just re-enter everything manually?

[2021-03-02 10:07] michaelrigart commented on #152
No, I open the csv file in a text editor and just copy-paste the content of my csv-file into the csv-editor of Containerise

![Screenshot 2021-03-02 at 11 06 01](https://user-images.githubusercontent.com/242477/109632459-5aba8600-7b47-11eb-8d73-2daee9a3a7a0.png)

[2021-03-02 10:30] akasaka99 commented on #152
Wow, I learned something, I had not clue there was a containerise cvs editor.
I just looked into FF about:addons and I see the only  General Preferences and Containers Preferences   but I cant see containerise cvs editor. Where is the editor pls?

[2021-03-02 10:32] michaelrigart commented on #152
You can open the plugin from your plugin-toolbar. On the right-side, you have the little pencil icon ;) . Just click on it and it will open the csv-editor.

![Screenshot 2021-03-02 at 11 31 37](https://user-images.githubusercontent.com/242477/109635664-eda8ef80-7b4a-11eb-89bf-1497c0b39532.png)

[2021-03-02 11:01] akasaka99 commented on #152
Excellent. Many thanks for your help !!!
Have a great day

[2021-03-05 01:49] benyaminl commented on #149
Hello, @LoveIsGrief could you reproduce based on my post before? The only resort for me now only adding some query param to make it work, as the regex is case sensitive.

so for that url that's case sensitive like `https://classroom.google.com/u/0/c/MjQ2NjYwODE4NDAx`,  I add query param `?domain=stts.edu` to `https://classroom.google.com/u/0/c/MjQ2NjYwODE4NDAx?domain=stts.edu` so it will trigger t

[2021-03-05 13:45] nkakouros opened #154 "Add option to not override existing container"
I am using this extension together with Simple Tab Groups. Simple Tab Groups has options to set containers per tab/domain, etc. These option conflict with containerise. It would be useful to have an option per container (or global) that stops containerise from changing the container if the tab already is assigned to one. The [contain-google](https://github.com/containers-everywhere/contain-google)

[2021-03-06 13:40] LoveIsGrief commented on #149
@benyaminl it looks like you found the root cause. I don't contribute code to this project anymore as I maintain a fork to make more radical changes.

You can fork #125 which should contain the fix for this issue, which I wrote a long time ago, and test it to see if it fixes your issue.

[2021-03-06 14:12] benyaminl commented on #149
Seems yours working. I remove containerise. Thanks. It seems work decently. I give star.

[2021-03-10 10:32] catfluoride opened #155 "Suggestion: allow loading container list from a remote .txt or .cvs file"
Hi!

At the moment, this wonderful add-on doesn't support FF Sync for containers list. Nonetheless, an elegant (and, I guess, easier to implement) workaround would be to allow loading containers list from a local or (better yet) a remote url.

One could then host a .txt ot .cvs file on a cloud provider (or even on github), and use a direct https:// link to said file to load the containers list on

[2021-03-17 22:07] rtevans01 commented on #30
Is there an update on this feature request? Did anyone make a pull request yet?

[2021-03-29 00:54] mirdaki commented on #11
Hey, wanted to add this was happening to me consistently as well when I tried using a pattern like this for Amazon:
`@.+\.amazon\.com$`. Switching away to just `!.amazon.com` seems to work with Amazon. The first pattern I have is mentioned in the Details page for the extension, so that might trip up other users. Version 3.9.0

[2021-04-07 07:36] WhiteSp1rit opened #156 "Middle/Ctrl+click opens tabs in a wrong container"
**Problem:**

Middle/Ctrl+click opens links in a wrong container, not the one configured in Containerise rules.
Then this tab closes, and a new tab in the correct container opens.

This possibly breaks the whole point of containers,
since the site gets access to information from the container not assigned to it.

**To reproduce:**

- set Reddit and Youtube to open in separate containers
- open a R

[2021-04-20 08:11] klint commented on #120
Also experiencing this bug... :(
Looking forward to a resolution (I'm too lazy to use ASCII code ;) )

[2021-05-16 05:37] Myuki opened #157 "*.example.com match both domain and subdomain"
I find `*.example.com` can match both `example.com` and `www.example.com`.

But I can't find any description in `README.md`. Is it an intentional design? If it is. It is better to add some descriptions in `README.md`.

[2021-05-20 10:28] felixbecker2 opened #158 "Regex pattern seems not to be honoured, glob patterns do."
I have several occassions where I need regex patterns instead of glob patterns.

I have for example assigned the rules

`@ice-treff\.de$`
`@.+\.ice-treff\.de$`

for a container, but when I type the URL in a new tab, it does not open the container, but instead just within a temporary container (I have the ["temporary containers" addon](https://addons.mozilla.org/en-GB/firefox/addon/temporary-contai

[2021-05-28 15:49] mook-as opened #159 "TLD matching isn't using eTLD, mismatches *.co.uk"
Hi, first, thanks for the extension! I've been using it for quite a while now.

I have a default container rule for `~{domain}.{tld}`; however, on `https://amazon.co.uk/`, that generates a container name of `~co.uk`, which isn't quite the desired behaviour.  I _think_ that should follow [eTLD](https://publicsuffix.org/) rules and result in `amazon.co.uk`, but I'm not sure.

Double checking the [im

[2021-05-28 15:54] mook-as opened #160 "Default container breaks view page source"
It appears that using the default container functionality breaks view source.

Steps to reproduce:
1. Set the default container to use a `~{domain}.{tld}` container name.
2. Go to https://example.com/
3. Open Tools -> Browser Tools -> View Source

Expected results:
Source window opens, in the `~example.com` container.

Actual results:
The tab reloads, end up at the site rather than viewing the sou

[2021-05-31 08:25] designt commented on #152
Well I need a backup the csv file, what's the path to that file ?
Thanks

[2021-06-08 18:05] ethhics commented on #159
Looks like adding a dependency can fix eTLD support: https://stackoverflow.com/a/61253586

[2021-06-12 01:25] timmooney commented on #149
I too have run into issues where containerise isn't correctly handling mixed-case URLs in a regex.  This breaks the ability for me to get certain URLs to open in specific containers.

It would be really nice if containerise wasn't automatically lower-casing everything in the regex when clicking "Save".  If I typed in a capital letter in my regex, I want it to be there.

[2021-06-12 01:29] benyaminl commented on #149
For now I create a lowercase get/query param that make the containerise work.

Example
https://classroom.google.com/u/0/c/MjQ2NjYwODE4NDAx

To

https://classroom.google.com/u/0/c/MjQ2NjYwODE4NDAx?domain=stts.edu so it will trigger the containerise based on domain config

for now it's the only way to make it work

[2021-07-06 16:12] justaguydoinghisstuff opened #161 "[Feature] Option to Enable Bookmark Menu"
Hi,
I would like to suggest adding a new feature.
Firefox Multi account containers have an option called "Enable Bookmarks Menu" which is super useful as it allows people to right click a folder in the bookmark menu and open all bookmarks in a particular container.

This is useful if one person has a set of websites he wants to open frequently in a particular container but cant set the rule to alw

[2021-07-18 15:22] geeknik commented on #157
This information is available in the extensions documentation: `moz-extension://55655d9f-8497-4f8c-a96b-c6dd308f195b/docs/ui-preferences/default_containers.html`.

![2021-07-18_10-22](https://user-images.githubusercontent.com/466878/126072773-580ea594-3ba4-40d0-a970-1e8b1e688da2.png)

[2021-07-18 15:30] #157 closed

[2021-07-18 15:58] geeknik commented on #59
Voting for a 'Temporary Containers' feature since the actual Temporary Containers extension appears to be broken with release and nightly versions of Firefox. 👍🏻

[2021-07-19 02:28] geeknik commented on #160
This happens if you set the default container to `{ms}-tmp` as well. The view source tab opens and then closes.

[2021-07-23 14:08] geeknik commented on #11
I'm seeing this issue if I start Firefox with hundreds of tabs and only some of the tabs are assigned to a container. If the tab doesn't have a container assigned when I select it, it loads the current tab in a temporary container and opens another tab in the same container. Kind of silly IMHO. My "default container" is defined as {domain}.{tld}-tmp.

[2021-07-31 14:16] akasaka99 opened #162 "Import from FF Multi-Account to Containerise"
Hello-
I would like to switch to Containerise from FF Muti-Account Containers but I have a lot of containers/rules and would like to avoid to do it manually. Is there a way to import all my data from FF vanilla add-on to Containerise? Thanks

[2021-08-17 16:44] O-DoC commented on #159
Hi,
DiD you have any update on this issue ?
Still the same as OP here too.
version 3.9.0 on FF 90.0.2
Thanks 👍🏽

[2021-08-17 16:47] O-DoC commented on #158
This work fine on mine - regex patterns.
But no "temporary containers" addon.
This could be from that other one.

[2021-09-03 02:38] WeaponX1 opened #163 "Left click new browser window open bug (shift left click works)"
Hello,

I have setup firefox 91.0.2 to open links in new windows using the following directives:
-  browser.link.open_newwindow  to: 2
-  browser.link.open_newwindow.restriction  to: 1
-  browser.link.open_newwindow.override.external  to: -1

I have setup containerise using the following strategy:
-  match domain OFF
- keep old tabs ON
- Default container ON (lifetime = until last tab is closed)

[2021-09-03 03:36] WeaponX1 commented on #163
Hello,
I was finally able to resolve my problem by setting more granular redirect rules e.g.
*.redd.it , Reddit
*.reddit.com , Reddit
*.redditmedia.com , Reddit
*.redditstatic.com , Reddit

now the links open in new browser window as expected most of the time.

[2021-09-08 03:13] benyaminl opened #164 "[Suggestion] Sorting tabs based on container"
Hello, it's just another suggestion if possible to be implemented. MAC from MozCo already has this feature, just I want to use containerize only as my container redirect manager. If this ability is baked in this addons, it will be helpful.

Thank you!

[2021-09-26 10:07] alex-becker-startp commented on #137
Hello, there are more severe issues with the current glob to regex implementation.
Because of missing ^ (start) and $ (end) tokens, basically every filter works like *filter* matching any substring.

You could use this code for better converting.
Maybe someone else verifies that I have no mistake within the sample.

[code]

[2021-10-07 23:50] dmorlitz opened #165 "Creating a Default rule that results in a site remaining in the current container"
I would like to recommend a setting that allows a matching site to be opened in the "current container" - whatever that container is.

The situation I am trying to address is using PayPal (or other sites) with online stores that placed in Default containers.  I am using a Default container rule of tmp.{domain} for unmatched containers.  If I happen to browse to a site that is a store I might get a

[2021-11-09 12:12] xeruf commented on #11
Same issue:
If a rule matches in both Containerise and Multi-Account-Containers, the tab duplicates.

@LoveIsGrief any chance on getting this fixed in https://github.com/LoveIsGrief/bifulushi ? That would definitely make me switch :)

[2021-12-10 05:03] xcasxcursex opened #168 "Discord site tries to exit the container, causing a loop of creating tabs"
I have these rules in place:

*.discord.com , Discord
*.discordapp.com , Discord
*.discordapp.net , Discord

They've all worked in the past. Recently, if I clicked a link pointing to discord's servers, it would enter an endless loop of opening a new tab, closing the current one, repeat.... I disabled containerise, opened a new tab in the Discord container, typed in the URL (discordapp.com) manuall

[2021-12-10 06:38] crssi commented on #168
For sure you need to add `discord.com , Discord` for `discord.com` ro be opened in `Discord` container.

[2021-12-10 11:21] xcasxcursex commented on #168
The rule is in place and working, discord tabs are opened in the discord container, but the website then opens itself in a new tab in no container.

...Which is forced by containerise, to open in a Discord container tab
...but the website then opens itself in a new tab in no container.
...Which is forced by containerise, to open in a Discord container tab
...but the website then opens itself in a

[2021-12-10 11:30] xcasxcursex commented on #168
I've managed to track this down. Somehow, this setting was enabled.

![image](https://user-images.githubusercontent.com/58130821/145567567-c417a24f-877c-4825-9ce1-a0766494096b.png)

It wasn't me, I didn't even know this setting existed until I traced it just now. I'll close this case but hopefully it might help if this behaviour crops up again, which I get a funny feeling it will.....

[2021-12-10 11:30] #168 closed

[2022-01-10 05:50] elesto opened #169 "Default container colour"
Is it possible to set the colour of the default container? The reason im asking is sometimes its confusing when two different containers have the same colour. Im assuming the default container sets to a random colour and id like to choose.

[2022-01-10 18:58] elesto opened #170 "suggestion - exclude from container"
Add rule that excludes url from container. Example:

My example google container:
Allow: *.google.com
Exclude: *.google.com/search*

[2022-01-13 06:38] elesto opened #171 "[suggestion] Allow for multiple accounts"
HI, I use this addon in combination with temporary containers. I need the ability to have two web (example:gmail) accounts open at the same time. Currently when I open gmail, your addon takes me to my gmail container which is great, but when I create a temporary container to use my other account in, it will pull me out of that container and into my default account. The ability to respect current t

[2022-02-07 16:22] BPower0036 opened #172 "[Feature Request] Restrict Containers to curtain websites"
Can you implement a the function to restrict websites from entering a curtain Container?
For instance, when I set `www.google.com` to open in Container `Google`, that is should be forbidden for other sites to open in the same `Google` Container.

Something like [Firefox Multi-Account Containers](https://addons.mozilla.org/en-US/firefox/addon/multi-account-containers/) has.

[2022-02-18 04:56] rtrind commented on #159
Also interested on this, it breaks most .com.br addresses and it would solve the need to create containers for one time login access.

[2022-05-13 11:37] geeknik commented on #11
LOL doesn't look like it, he archived the repo.

[2022-05-23 04:30] umbralOptimatum opened #174 "[Feature request] Dark mode for toolbar menu"
Right now the Containerize toolbar menu uses a light background regardless of Firefox preferences. It would be great to see it respect dark mode.

[2022-05-26 15:16] HACCKKER opened #175 "suffix based container assignment is broken"
After i2p+ update 1.8.0 idk's in private browsing extension started breaking local router console, so I replicated all its functionality with other 3 extensions, one of them is containerise, very useful feature of idk's extension was that when you use .i2p domains it assigns that tab a container which has proxy set to 127.0.0.1:4444, so I did the same and in rules settings of container that has pr

[2022-05-27 09:51] #175 closed

[2022-05-29 19:48] crantok commented on #170
I would like this feature too.

At the moment I have a long list of google.com subdomains set to open in my `google` container. I use that container for the google subdomains where I need to be logged in.

I have two domains set to open in my `google-anon` container, i.e.
 - www.google.com
 - maps.google.com

That way, all my web searching and geographical searching is not associated with my googl

[2022-05-29 20:50] crantok commented on #171
@elesto The configuration in Containerise are the equivalent of the "Always open in this container" setting in Firefox Containers. The difference is that Containerise can direct lots of subdomains to the same container (or make even more sophisticated distinctions using regex.) If you don't want that to happen for gmail then this is probably the wrong add-on for that job site.

[2022-05-29 20:59] crantok commented on #169
I think the default container colour might be a property of Firefox Containers rather than Containerise.

[2022-06-02 02:14] mhtrinhLIC commented on #171
My sugesstion for multi account: you have a website (eg gmail.com, github.com) that match more than one container (*.gmail.com or *.github.com), in which case, the addon will just have a popup, asking which of the matching container should be use ?

[2022-06-19 19:09] xeruf commented on #137
Yep, just found that `https://github.com/mastodon/mastodon/issues/15561` is matched by `!*mastodon.* , Personal` and was confused...

[2022-09-03 22:16] ysalmon opened #176 "Disabling the extension causes loss of custom containers"
I disabled Containerise to check if it was causing some problem I was experiencing. It was not, but upon re-enabing it I discover that only the Personal, Professional, Banking and Buying containers remain (with their list of websites). Other containers I had created over time are no longer visible in the interface and also the corresponding websites are now container-less.

[2022-10-05 02:49] benyaminl commented on #176
@ysalmon it's a well known bug from firefox container feature, not the containerise, if you need the container, just backup it, and restore. The backup restore available to be used for it.

[2022-10-09 20:30] mikedlr opened #177 "Path matching fails on paths with capitals"
Regexps containing capitals are converted to lower case but then fail to match paths which contain capitals.

**What I did**

@?.*\.example\.com/UpperCase
go to www.example.com/UpperCase

**What happens**

When I enter the string above it gets converted to lower case

@?.*\.example\.com/UpperCase

and then the match fails.

**What I expected to happen**

the regexp should maintain case (possibly e

[2022-10-18 21:18] Alexey104 commented on #170
You can use a regex for that:
[code]

[2022-11-15 14:59] Cybolic commented on #177
Can confirm this. My workaround for now is to write them as `@?.*.example.com/.pper.ase`, which is obviously not ideal.

I'd recommend picking one of these solutions:

1. Keep lower-casing the user input, but make the regexes case insensitive by default (`/i`).
2. Don't touch the case of the user input.

Option one is more in line with the current behaviour and probably makes the most sense as mos

[2022-11-16 11:15] mikedlr commented on #151
It "works for me". There was another bug reported with containers themselves so maybe this is fixed. @doobersn is it still a problem for you?

[2022-11-16 11:24] mikedlr opened #178 "What is the future of support? Really Good but a few bugs that need fixed?"
Containerize is really really great and I love it. I see that @kintesh has been very busy with private repos recently and hasn't been supporting containerize. I'm wondering if anyone is competent to and willing to help? If there is any such person would it be good to set containerize up as a separate project with multiple people so that if Kintesh ever gets free time he can easily be welcomed back

[2022-11-17 22:03] kintesh commented on #178
Hey @mikedlr. I am planning to jump back on this and look at the open PR but it won't be till after Christmas.